﻿     @font-face
        {
            font-family: 'Droid Sans';
            font-style: normal;
            font-weight: 400;
            src: local('Droid Sans'), local('DroidSans'), url(/fonts/font1.woff) format('woff');
        }

        @font-face
        {
            font-family: 'Droid Sans';
            font-style: normal;
            font-weight: 700;
            src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(/fonts/font2.woff) format('woff');
        }

             @font-face
        {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            src: local('Open Sans'), local('OpenSans'), url(/fonts/font1.woff) format('woff');
        }

             /* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/fonts/opensans400.woff) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
       /* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/opensans700.woff) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}