﻿.txtDate {
  text-align: center;
  width: 120px;
  margin: 0 10px 0 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  50% {
    background: #404040;
  }
}
.loader-new {
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid whitesmoke;
  border-top-color: #404040;
  animation: spin 1s infinite linear;
}
@keyframes smallBoxAnim {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(0.75);
  }
}
@keyframes loaderAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
.statusbar {
  padding: 10px;
  overflow: hidden;
  background: #dedede;
  font-size: 10pt;
}
.statusbar select {
  font-size: 9pt !important;
  padding: 0 !important;
  float: left;
  background: white !important;
  border: none !important;
  color: black !important;
}
.statusbar-box {
  margin-right: 15px;
  overflow: hidden;
  float: left;
}
.statusbar-box-text {
  display: block;
  float: left;
  padding: 5px 10px 5px 10px;
  background: whitesmoke;
  color: #404040;
  border: solid 1px #c0c0c0;
  font-weight: bold;
}
.statusbar-box-value {
  display: block;
  float: left;
  padding: 5px 10px 5px 10px;
  background: White;
  color: #404040;
  border: solid 1px #c0c0c0;
  border-left: none;
}
.statusbar-box-value img {
  width: 14px;
  position: relative;
  top: 2px;
}
.body-login {
  background: whitesmoke;
}
.loginnew-box {
  width: 500px;
  height: 400px;
  position: absolute;
  border: solid 1px #f2f2f2;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
}
.loginnew-logo {
  text-align: center;
  padding: 20px;
  padding-bottom: 10px;
}
.loginnew-bar {
  padding: 10px;
  overflow: hidden;
  background: #dedede;
  font-size: 10pt;
}
.loginnew-textboxes {
  width: 380px;
  font-size: 10pt;
  margin: 0 auto;
  margin-top: 30px;
}
.loginnew-input {
  padding: 5px !important;
  font-size: 12pt !important;
  margin-top: 10px !important;
  width: 85% !important;
}
.loginnew-button {
  padding: 5px 20px 5px 20px !important;
  font-size: 12pt !important;
  margin-top: 10px !important;
  text-transform: uppercase !important;
}
.loginnew-left {
  width: 50%;
  float: left;
  text-align: left;
  text-transform: uppercase;
}
.loginnew-right {
  width: 50%;
  float: right;
  text-align: right;
}
.loginnew-validators {
  padding: 15px 0 15px;
}
.loginnew-validators img {
  position: relative;
  top: 3px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px whitesmoke inset !important;
  -webkit-text-fill-color: #404040 !important;
}
.icheckbox_square-grey {
  margin-right: 8px !important;
}
.iradio_square-grey {
  margin-right: 8px !important;
}
.table-master {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
}
.table-master tr td {
  background: none;
  border-bottom: solid 1px #dedede;
  color: #404040;
  padding: 6px 5px 6px 5px;
}
.table-master .col-plate {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 80px;
}
.table-master .col-plate .span-trailer {
  display: block;
  margin-top: 3px;
  color: Gray;
  font-size: 9px;
  font-weight: normal;
}
.table-master .col-imgplate {
  width: 110px;
  text-align: center;
}
.table-master .col-imgplate img {
  width: 80px;
  height: 30px;
}
.table-master .col-province {
  width: 30px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
.table-master .col-country {
  text-align: center;
  padding: 0 10px 0 10px;
  font-size: 13px;
  font-weight: bold;
  width: 30px;
}
.table-master .col-type {
  text-align: center;
  width: 100px;
}
.table-master .col-type img {
  height: 16px;
}
.table-master .col-gate {
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px 0 10px;
}
.table-master .col-adr {
  width: 180px;
  padding: 0 10px 0 10px;
}
.table-master .col-date {
  width: 140px;
  padding: 0 10px 0 10px;
  text-align: center;
}
.table-master .col-date .span-date {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}
.table-master .col-ocr {
  width: 30px;
  padding: 0 10px 0 10px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
.table-master .col-speed {
  width: 30px;
  padding: 0 10px 0 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.table-master .col-speed div {
  margin: 0 auto;
  padding: 2px 0 2px 0;
  border-radius: 25px;
  width: 24px;
  color: black;
  background: white;
}
.table-master .col-foto {
  text-align: center;
  width: 30px;
}
.table-master .col-adrlogo {
  width: 40px;
  padding: 0 10px 0 10px;
  text-align: center;
}
.table-master .col-adrlogo img {
  width: 80%;
}
.table-master .col-adrlogo .col_ocr {
  width: 30px;
  padding: 0 10px 0 10px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
.master-image-preview {
  width: 320px;
  height: 240px;
  display: none;
  box-shadow: 0 0 85px gray;
  z-index: 999;
  position: absolute;
  border: solid 1px #c0c0c0;
}
.master-image-preview img {
  width: 320px;
  height: 240px;
}
.table-intersections {
  width: 100%;
}
.table-intersections tr th {
  text-align: center;
}
.table-intersections tr td {
  text-align: center;
  padding: 3px 0 3px 0;
  border-bottom: solid 1px #dedede;
}
.table-intersections tr th:nth-child(1) {
  width: 90px;
}
.table-intersections tr th:nth-child(2) {
  width: 60px;
}
.table-intersections tr td:nth-child(1) {
  width: 90px;
}
.table-intersections tr td:nth-child(2) {
  width: 60px;
  font-size: 12pt;
  font-weight: bold;
}
.columns3 {
  overflow: hidden;
  margin-bottom: 10px;
}
.columns3 > div:nth-child(1) {
  width: 26%;
  float: left;
  text-align: justify;
  padding-right: 0.4%;
  margin-right: 0.4%;
  border-right: solid 1px #dedede;
}
.columns3 > div:nth-child(2) {
  width: 26%;
  float: left;
  text-align: justify;
  padding-right: 0.4%;
  margin-right: 0.4%;
  border-right: solid 1px #dedede;
}
.columns3 > div:nth-child(3) {
  width: 46%;
  float: left;
  text-align: justify;
}
.datebar {
  overflow: hidden;
  margin-bottom: 7px;
  background: whitesmoke;
  cursor: pointer;
  border: solid 1px transparent;
}
.datebar:hover {
  border: solid 1px #dedede;
}
.datebar .datebar-content-left {
  text-align: center;
  padding: 5px;
  float: left;
  font-weight: bold;
  font-size: 10pt;
  padding-left: 10px;
  padding-right: 10px;
  background: #dedede;
}
.datebar .datebar-content-right {
  text-align: center;
  padding: 5px;
  float: right;
  font-weight: bold;
  font-size: 10pt;
  padding-left: 10px;
  padding-right: 10px;
  background: #dedede;
}
.datebar .datebar-arrow-right {
  float: right;
  width: 30px;
  display: block;
  background: #00b050;
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
}
.datebar .datebar-arrow-left {
  float: left;
  width: 30px;
  display: block;
  background: #e32400;
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
}
.more-padding {
  padding: 5px;
}
.more-more-padding {
  padding: 10px;
}
.image-details {
  overflow: hidden;
}
.image-ctx {
  /*width: 50%;
    float: left;*/
  border-radius: 5px;
}
.image-ctx .image-inner {
  margin: 10px;
  text-align: center;
}
.image-ctx img {
  width: 100%;
  /*box-shadow: 0 0 5px #888;*/
}
.image-ir {
  /*width: 50%;
    float: left;*/
  border-radius: 5px;
}
.image-ir .image-inner {
  margin: 10px;
  text-align: center;
}
.image-ir img {
  width: 100%;
  /*box-shadow: 0 0 5px #888;*/
}
.liveUpdatePulse {
  display: block;
  border-radius: 8px;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 10px;
  position: relative;
  top: 4px;
  border: solid 2px transparent;
}
.green {
  background: #00b050;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}
.red {
  background: red;
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    opacity: 0.0;
  }
}
.newrowadded {
  animation-name: example;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
@keyframes example {
  from {
    background-color: #404040;
    color: #ffffff;
  }
  to {
    background-color: none;
    color: #404040;
  }
}
.big1 {
  font-size: 22pt;
  font-weight: bold;
}
.big2 {
  font-size: 11pt;
}
.passages-boxes {
  overflow: hidden;
  text-align: center;
}
.passages-boxes .passages-box {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}
.passages-boxes .passages-box .passages-header {
  background: whitesmoke;
  color: #404040;
  font-weight: bold;
  font-size: 11pt;
  padding: 8px 13px 8px 13px;
  border: solid 1px #dedede;
  border-bottom: none;
  text-align: center;
}
.passages-boxes .passages-box .passages-content {
  line-height: 20px;
  padding: 8px 13px 8px 13px;
  height: 30px;
  text-align: center;
  border: solid 1px #dedede;
}
.status-bar {
  font-size: 15px;
  overflow: hidden;
}
.status-bar div {
  float: left;
  padding: 0 10px 0 10px;
  /*border-right: solid 1px @textbox-color;*/
}
.status-bar div:last-child {
  border: none;
}
.status-bar .errormessage {
  font-weight: bold;
  color: red;
}
.status-bar .duration {
  font-weight: bold;
}
.status-bar .count {
  font-weight: bold;
}
.server-legend-square {
  margin-right: 10px;
  margin-bottom: 5px;
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-left: solid 10px;
}
.condensed tr td {
  border: 0;
  padding: 2px 0 2px 0;
}
.export-box {
  margin-bottom: 10px;
  border: solid 1px #dedede;
  overflow: hidden;
}
.export-box .export-box-header {
  background: whitesmoke;
  padding: 5px;
  font-size: 11pt;
}
.export-box .export-box-content a {
  display: block;
  padding: 10px 20px 10px 20px;
  font-size: 12pt;
}
.export-box .export-box-content a.selected {
  background: #ee932e;
  color: whitesmoke;
  text-decoration: none;
}
.export-box .export-box-content a:hover {
  background: #ee932e;
  color: whitesmoke;
  text-decoration: none;
}
.export-box .export-box-option {
  float: left;
}
#curdate {
  color: #404040;
  font-size: 24px;
  font-weight: bold;
}
#curtime {
  color: #404040;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  left: 20px;
}
.dataTable {
  border-bottom: solid 1px #dedede !important;
}
.dataTable tr th {
  background: whitesmoke !important;
}
.dataTable tr td {
  background: #ffffff !important;
  border-top: solid 1px #dedede !important;
}
.chart-text-color {
  color: #404040;
}
.chart-legend-color {
  color: #404040;
}
.correlate-bar {
  position: relative;
  top: 2px;
  height: 20px;
  background: #ee932e;
}
.separator {
  border-right: solid 1px #dedede;
}
.loginArea {
  padding: 10px 0 10px 10px;
  background: none;
}
.adr-code {
  font-weight: bold;
  display: block;
  font-size: 8pt;
  margin-bottom: 2px;
}
.adr-description {
  font-size: 9px;
}
.boxAlert {
  padding: 10px;
  background: whitesmoke;
  border: solid 1px #dedede;
  margin-bottom: 10px;
}
.ui-state-default {
  border: 1px solid #dedede;
  background: whitesmoke;
  font-weight: normal;
  color: #404040;
}
.ui-state-default:hover {
  background: #dedede;
  color: #404040;
}
.ui-state-active {
  border: 1px solid #dedede;
  background: #c0c0c0;
  font-weight: normal;
  color: #404040;
}
.ui-datepicker {
  background: white !important;
}
.ui-widget-content {
  background: white !important;
}
table tr th {
  background: whitesmoke;
  color: #404040;
  padding: 5px;
  height: 30px;
  border-bottom: solid 2px #dedede;
  border-top: solid 2px #dedede;
}
.mytable {
  border-collapse: collapse;
  border-spacing: 0;
}
.mytable tr td {
  padding: 5px;
  border-bottom: solid 1px #dedede;
}
.link-server {
  padding: 3px 10px 3px 10px;
  display: block;
  cursor: pointer;
}
.link-server:hover {
  background: #dedede;
}
.link-server.selected {
  background: #dedede;
}
/*.mytable tr:nth-child(odd) td {
    background: @textbox-background;
}*/
.passages-template {
  width: 100%;
  border-collapse: collapse;
}
.passages-template tr.selected td {
  background: #dedede;
}
.parameters-col-1 {
  background: WhiteSmoke !important;
  padding: 10px !important;
}
.parameters-col-2 {
  background: #FAFAFA !important;
  padding: 10px !important;
}
.parameters-col-3 {
  background: none !important;
}
.plate {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.camStatusGreen {
  background: #c0ffc0 !important;
  font-weight: bold;
  color: #00a600 !important;
}
.camStatusYellow {
  background: #ffffc0 !important;
  font-weight: bold;
  color: #737300 !important;
}
.camStatusRed {
  background: #ffc0c0 !important;
  font-weight: bold;
  color: #a60000 !important;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
	font-size: 9pt;
	background: #404040;
	color: white;
}
p {
  line-height: 18px;
  padding: 0;
  margin: 0;
}
/********************************************/
/**************** Motorizzazione ************/
.vpnAlert {
  border: solid 1px #dedede;
  background: whitesmoke;
  padding: 8px;
  margin-bottom: 15px;
}
.vpnImageBox {
  text-align: center;
  max-width: 600px;
  box-shadow: 0 0 15px #888;
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
}
.vpnImageBox .result_image {
  width: 100%;
  background: #dedede;
  display: block;
}
.vpnImageBox .vpnPlateBox {
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  padding-bottom: 20px;
}
.vpnImageBox .result_plate {
  font-size: 50px;
  font-weight: bold;
  color: #404040;
  text-shadow: 0 0 15px #c0c0c0;
}
.insuranceBar {
  width: 100%;
  margin-bottom: 15px;
}
.insuranceBar td {
  vertical-align: top;
  padding: 0;
  background: whitesmoke;
}
.insuranceBar td .insuranceHeader {
  background: #404040;
  display: block;
  padding: 2px 0 2px 0;
  color: white;
  font-size: 10px;
}
.insuranceBar .number {
  font-size: 36px;
  color: #404040;
  text-shadow: 1px 1px #c0c0c0;
  font-weight: bold;
  padding-top: 5px;
  display: block;
}
.insuranceBar td:nth-child(1) {
  font-size: 12px;
  text-align: center;
  width: 17%;
}
.insuranceBar td:nth-child(2) {
  font-size: 12px;
  text-align: center;
  width: 20%;
}
.insuranceBar td:nth-child(6),
.insuranceBar td:nth-child(7),
.insuranceBar td:nth-child(8) {
  width: 12%;
  font-size: 12px;
  text-align: center;
  /*background: #f2c8c9; insurance red*/
}
.insuranceBar td:nth-child(6) img,
.insuranceBar td:nth-child(7) img,
.insuranceBar td:nth-child(8) img {
  margin-top: 10px;
  width: 24px;
  padding-top: 2px;
  /*display:none;*/
}
.insuranceBar td:nth-child(3) {
  width: 9%;
  font-size: 12px;
  text-align: center;
}
.insuranceBar td:nth-child(4) {
  width: 9%;
  font-size: 12px;
  text-align: center;
}
.insuranceBar td:nth-child(5) {
  width: 9%;
  font-size: 12px;
  text-align: center;
}
#tab_rows {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
  display: none;
  margin: 0 auto;
  margin-top: 15px;
}
.col100 {
  width: 110px;
  text-align: center !important;
}
td.col4 {
  font-size: 8px;
  color: gray;
}
.formatAlert {
  color: #e33f43;
  font-weight: bold;
}
.formatNormal {
  /*color: #404040;*/
  font-weight: normal;
}
#tab_rows tr td {
  padding: 5px 0 5px 0;
}
.tabdetails {
  width: 100%;
}
.tabdetails tr td {
  padding: 1px 0 1px 0 !important;
  vertical-align: top;
}
.col_plate {
  font-size: 16px;
  font-weight: bold;
  color: #606060;
  text-align: center;
  width: 100px;
}
.ChartPie {
  height: 500px;
  width: 100%;
  border: solid 1px #dedede;
  background: whitesmoke;
  box-shadow: 0px 0px 20px #c0c0c0;
  margin-bottom: 10px;
}
.my-buttonset {
  margin: 0;
  padding: 0;
  list-style-image: none;
}
.my-buttonset img {
  position: relative;
  top: 2px;
}
.my-buttonset li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 2px 10px 2px 10px;
  display: inline-block;
  cursor: pointer;
  border: solid 1px transparent;
}
.my-buttonset li:hover {
  background: #dedede;
}
.my-buttonset li.selected {
  background: #dedede;
}
.chart-common {
  height: 500px;
  width: 100%;
}
.myTableCluster {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.myTableCluster tr th {
  text-align: Center;
}
.myTableCluster tr td {
  text-align: Center;
}
.myTableCluster tr td:nth-child(1) {
  font-weight: bold;
}
.myTableCluster tr:nth-child(even) td {
  background: #dedede !important;
}
.chart-page h1 {
  font-size: 20pt !important;
  text-align: center;
  margin-bottom: 10px;
}
.chart-page .chart-area {
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #dedede;
}
.chart-page .chart-area .inner {
  padding: 10px;
}
.chart-page .chart-area table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.chart-page .chart-area table tr th {
  text-align: Center;
}
.chart-page .chart-area table tr td {
  text-align: Center;
}
.chart-page .chart-area .chart-description {
  font-size: 10pt;
  text-align: center;
  line-height: 20px;
  padding: 15px 0 15px 0;
  margin: 15px 0 15px 0;
  border-top: solid 1px #dedede;
  height: 50px;
}
.chart-page .chart-area .chart-left {
  float: left;
  width: 50%;
}
.chart-page .chart-area .chart-left #chart1 {
  border-right: solid 1px #dedede;
}
.chart-page .chart-area .chart-right {
  float: left;
  width: 50%;
}
a img {
  border: 0;
}
a {
  font-family: 'Open Sans';
  color: #ee932e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-family: 'Open Sans';
  font-size: 16pt;
  margin: 0;
  padding: 0;
  color: #ee932e;
  margin-bottom: 5px;
}
.sorting_disabled {
  width: 50px !important;
}
h2 {
  font-family: 'Open Sans';
  font-size: 13pt;
  margin: 0;
  padding: 0;
  color: #404040;
  margin-bottom: 10px;
}
.HeaderRow {
  width: 140px;
  /*padding-left: 10px;*/
}
input[type=text] {
  font-family: 'Open Sans';
  border: solid 1px #dedede;
  font-size: 10pt;
  color: #404040;
  padding: 2px;
  /*width:90%;*/
  background: whitesmoke;
}
textarea {
  font-family: 'Open Sans';
  border: solid 1px #dedede;
  font-size: 10pt;
  color: #404040;
  padding: 2px;
  /*width:90%;*/
  background: whitesmoke;
}
input[type=password] {
  font-family: 'Open Sans';
  border: solid 1px #dedede;
  font-size: 10pt;
  color: #404040;
  padding: 2px;
  /*width:90%;*/
  background: whitesmoke;
}
input[type=submit],
input[type=button] {
  /*background:#ededed;
    font-family: @font;
    border:solid 1px #c0c0c0;
    font-size:10pt;
    color:#404040;
     
    padding:5px 20px 5px 20px;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
    margin-top:15px;*/
  -moz-box-shadow: inset 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fff6af;
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
  background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffec64, endColorstr=#ffab23, GradientType=0);
  background-color: #ffec64;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #ffab23;
  display: inline-block;
  cursor: pointer;
  color: #000;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 12px;
  margin: 5px 0 0 0;
}
input[type=submit]:hover,
input[type=button]:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
  background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffab23, endColorstr=#ffec64, GradientType=0);
  background-color: #ffab23;
}
.ServiceButton {
  margin: 0 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  padding: 2px 10px 2px 10px !important;
  font-size: 10px !important;
  border: solid 1px #c0c0c0 !important;
  border-radius: 0px !important;
  color: #404040 !important;
  background: whitesmoke !important;
  text-transform: uppercase;
}
.StartButton:hover {
  background: #63be7b !important;
  color: white !important;
  border: solid 1px #63be7b !important;
}
.StopButton:hover {
  background: #f47879 !important;
  color: white !important;
  border: solid 1px #f47879 !important;
}
.ResetButton {
  margin: 0 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  padding: 2px 10px 2px 10px !important;
  font-size: 10px !important;
  border: solid 1px #c0c0c0 !important;
  border-radius: 0px !important;
  color: white !important;
  background: #e33f43 !important;
  text-transform: uppercase;
}
.ResetButton:hover {
  background: #e33f43 !important;
  color: white !important;
  border: solid 1px #e33f43 !important;
}
.LeftMenu input[type=submit] {
  width: 100%;
}
.Splitter {
  width: 6px;
  background: #dedede;
  cursor: col-resize;
}
/*input[type=submit]:hover
{
    background:#dedede;
    
}*/
select {
  font-family: 'Open Sans';
  border: solid 1px #dedede;
  font-size: 10pt;
  color: #404040;
  background: whitesmoke;
  padding: 2px;
}
input[type=text]:hover {
  border: solid 1px #dedede;
  box-shadow: 0 0 5px #888;
}
#Header {
  /*background-image:url('/img/logo.png');background-repeat:no-repeat;*/
  height: 45px;
  border-bottom: solid 1px #dedede;
  overflow: hidden;
}
#Header .left {
  width: 50%;
  float: left;
}
#Header .left img {
  margin: 8px 0 0 8px;
}
#Header .right {
  width: 50%;
  float: right;
  text-align: right;
}
#Header .right img {
  margin: 2px 8px 0 0;
}
.Menu {
  width: 220px;
  /*un po’ di meno per evitare l’ uso del padding*/
  /*border-right:solid 1px #c0c0c0;*/
}
/*#Content {
    color: #404040;
}*/
#Content .Inner {
  padding: 12px;
}
nav ul, .MenuVert ul {
	margin: 0;
	padding: 0;
	list-style-image: none;
	width: 220px;
}
	nav ul li, .MenuVert ul li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	nav ul li.first span, .MenuVert ul li.first span {
		color: #fff;
		font-size: 10pt;
		display: block;
		background: none;
		background-image: url('/img/backmenu_first.png');
		background-repeat: repeat-x;
		border-left: solid 4px #ee932e;
		border-bottom: solid 1px #dedede;
		padding: 10px;
		font-weight: bold;
		overflow: hidden;
		text-shadow: none;
	}
nav ul li.first span img:first-child {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
nav ul li.first span .toggle {
  float: right;
  cursor: pointer;
  position: relative;
  top: 4px;
  display: none;
}
nav ul li.first a img {
  position: relative;
  top: 2px;
}
nav ul li a:hover {
  /*  background-image:url('/img/backmenu_hover.png');
                  border-left:solid 4px #d31f9a;*/
}
	nav ul li.second a, .MenuVert ul li.second a {
		color: #fff;
		display: block;
		background: none;
		background-image: url('/img/backmenu.png');
		background-repeat: repeat-x;
		border-left: solid 4px gray;
		border-bottom: solid 1px #dedede;
		padding: 5px 10px 5px 24px;
		text-shadow: none;
	}
		nav ul li.second a:hover, .MenuVert ul li.second a:hover {
			/* background-image:url('/img/backmenu_hover.png');*/
			background: #dedede;
			border-left: solid 4px #ee932e;
			padding-left: 30px;
			transition: 0.15s padding ease-out;
			color: black;
			text-decoration: none;
		}
nav ul li.selected a {
  /* background-image:url('/img/backmenu_hover.png');*/
  background: #dedede;
  border-left: solid 4px #ee932e;
}
.row td {
  background: none;
  border-bottom: solid 1px #dedede;
  color: #404040;
  padding: 6px 5px 6px 5px;
}
.row_condensed td {
  background: none;
  border-bottom: solid 1px #dedede;
  color: #404040;
  padding: 5px;
}
.row_details {
  border-bottom: solid 1px #dedede;
}
.row:hover td {
  background: #dedede !important;
}
.row2 td {
  background: whitesmoke;
  border-bottom: solid 1px #dedede;
  color: #404040;
  padding: 6px 5px 6px 5px;
}
.rowborder {
  border-bottom: solid 1px #dedede;
}
.row2:hover td {
  background: #dedede !important;
}
.Selected {
  background: #dedede;
  border-bottom: solid 1px #dedede;
}
.Pager td {
  padding: 5px 0 5px;
}
.Pager td a {
  display: block;
  background: #dedede;
  color: white;
  padding: 3px 7px 3px 7px;
  border-radius: 20px;
  margin-right: 5px;
  text-decoration: none;
  color: #404040;
}
.Pager td a:hover {
  background: #ee932e;
  color: white;
}
.Pager td span {
  display: block;
  background: #ee932e;
  padding: 5px 9px 5px 9px;
  border-radius: 15px;
  margin-right: 5px;
  text-decoration: none;
  color: white;
}
.smallgray {
  padding: 0;
  margin: 0;
  padding: 5px 0 5px 0;
  color: #404040;
  font-size: 8pt !important;
}
.PageItem {
  border: solid 1px #dedede;
  padding: 5px 8px 5px 8px;
  margin-bottom: 5px;
  background: whitesmoke;
  background-repeat: repeat-x;
  border-left: solid 4px gray;
  margin-left: 20px;
}
.PageItem:hover {
  background: #dedede !important;
  box-shadow: 0 0 20px #c0c0c0;
  border-left: solid 4px #ee932e;
  padding-left: 16px;
  transition: 0.3s;
}
.PageName {
  font-size: 10pt;
  font-weight: bold;
}
.PageItem a {
  float: right;
}
.Options {
  padding: 10px 0 10px 5px;
  background: none;
  border-left: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
  color: #404040;
}
.google-visualization-table-th {
  font-size: 8pt;
}
.google-visualization-table-td {
  font-size: 8pt;
}
.ui-sortable-placeholder {
  background: red;
}
.column {
  width: 250px;
  float: left;
  margin: 0 5px 0 0;
  height: 1080px;
}
.column .module {
  border: solid 1px #dedede;
  margin-bottom: 10px;
  background: white;
  border-bottom: solid 1px #c0c0c0;
  border-right: solid 1px #c0c0c0;
  border-bottom: solid 1px #dedede;
  border-right: solid 1px #dedede;
  box-shadow: 2px 2px 18px #c0c0c0;
}
.column .module table th {
  background: whitesmoke;
  text-align: left;
}
.column .module table td {
  text-align: center;
}
.column .module .head {
  background: whitesmoke;
  padding: 6px;
  font-weight: bold;
  overflow: hidden;
}
.column .module .head .left {
  float: left;
}
.column .module .head .right {
  float: right;
}
.column .module .head .right img {
  margin-left: 5px;
}
.column .module .head .right img:hover {
  cursor: pointer;
  opacity: 0.5;
}
.column .module .head img {
  position: relative;
  top: 2px;
  width: 12px;
  height: 12px;
}
.column .module .body {
  line-height: 18px;
  padding: 6px;
}
.AlertBox {
  display: none;
}
.AlertBox img {
  position: relative;
  top: 2px;
}
.AlertOk {
  padding: 6px;
  border: solid 1px #00c000;
  border-radius: 8px;
  background: #c0ffc0;
  width: 500px;
}
.AlertError {
  padding: 6px;
  border: solid 1px #c00000;
  border-radius: 8px;
  background: #ffc0c0;
  width: 500px;
}
.AlertBar {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 60px;
  opacity: 0;
  right: -250px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}
.AlertBar .inner {
  padding: 10px;
}
.AlertBar .inner img {
  position: relative;
  top: 2px;
}
.BarOk {
  border: solid 1px #00c000;
  background: #c0ffc0;
  color: black;
}
.BarError {
  border: solid 1px #c00000;
  background: #ffc0c0;
  color: black;
}
.Buttons {
  overflow: hidden;
  margin-bottom: 10px;
}
.Buttons a {
  display: block;
  padding: 5px 10px 5px 10px;
  background: whitesmoke;
  margin-right: 5px;
  border-radius: 15px;
  float: left;
}
.Buttons a:hover {
  background: #dedede;
}
.Row td {
  border-bottom: solid 1px #dedede;
}
.Row2 td {
  background: whitesmoke;
  border-bottom: solid 1px #dedede;
}
.HeaderRow th {
  background: #404040;
  color: white;
}
.HeaderRow2 th {
  background: #ededed;
  color: #404040;
  padding: 5px 0 5px 0;
  text-align: lefT;
}
.tableData tr td {
  font-size: 8pt;
}
.tableGates {
  border-collapse: collapse;
  border-spacing: 0;
  width: 99%;
}
.tableGates th {
  padding: 3px;
  text-align: left;
  border-bottom: solid 2px #dedede;
  background: whitesmoke !important;
}
.tableGates tr:nth-child(odd) td {
  padding: 1px 3px 1px 3px;
  border-bottom: solid 1px #dedede;
  background: whitesmoke;
}
.tableGates tr:nth-child(even) td {
  padding: 1px 3px 1px 3px;
  border-bottom: solid 1px #dedede;
}
/*.tableTattile{border-collapse: collapse; border-spacing: 0}
.tableTattile th{padding:3px;background:#ededed;text-align:left;border-bottom:solid 2px #cecece;text-align:left;padding:3px 6px 3px 6px}
.tableTattile tr:nth-child(odd) td{padding:3px 6px 3px 6px;border-bottom:solid 1px #ededed;background:#ffffff}
.tableTattile tr:nth-child(even) td{padding:3px 6px 3px 6px;border-bottom:solid 1px #ededed;background:whitesmoke}*/
.Padding0 {
  padding: 0 !important;
}
.Padding5 {
  padding: 6px 20px 6px 6px;
}
.plateDetail {
  width: 100%;
}
.plateDetail tr td {
  padding: 5px 0 5px 0;
}
.morepadding td {
  padding: 4px;
}
.languages {
  text-align: center;
  border-bottom: solid 1px #dedede;
  width: 220px;
}
.languages a img {
  width: 20px;
  margin: 0 8px 0 8px;
  opacity: 0.85;
}
.languages a img:hover {
  opacity: 1.0;
}
.seconds {
  font-size: 32px;
  color: #404040;
  display: block;
  padding: 5px 0 0 0;
  font-weight: bold;
}
#dialog-message {
  display: none;
}
.ui-widget-overlay {
  background: black;
  opacity: .7;
  filter: alpha(opacity=70);
}
p {
  font-size: 9pt;
}
.ParameterBox img {
  position: relative;
  top: 2px;
}
.ParameterBox .description {
  margin: 0;
  padding: 5px 0 5px 10px;
  color: gray;
  font-size: 8pt !important;
  text-align: justify;
}
.ParameterBox i {
  font-size: 8pt;
}
.query-legend {
  width: 100%;
  border-collapse: collapse;
}
.query-legend tr th {
  text-align: left;
}
.query-legend tr td {
  vertical-align: top;
}
.query-legend tr td a {
  color: #ee932e !important;
}
.query-legend tr td b {
  background: yellow;
  color: black;
}
.query-legend tr td h3 {
  display: inline;
}
.help {
  width: 200px;
  background: #ee932e;
  text-align: center;
  position: fixed;
  left: 10px;
  bottom: 30px;
  display: none;
  border-radius: 8px;
}
.help a {
  padding: 5px 0 5px 0;
  display: block;
  font-size: 14px;
  color: white;
}
/*html{color:#404040;font-family:'Segoe UI';font-size:10pt}
        h1{color:#404040;margin:0;padding:0;margin-bottom:10px;padding:5px;background:Whitesmoke;border-bottom:solid 1px #dedede}
        td{text-align:right;padding:6px;vertical-align:middle}*/
/*.severity-0{background:#c6d84c}
        .severity-1{background:#f8d14a}
        .severity-2{background:#eb9346}
        .severity-3{background:#df4726}
        .severity-4{background:#e33f98}*/
.heatmap-table tr td {
  text-align: center;
  padding: 15px 5px 15px 5px;
  vertical-align: middle;
}
.severity-0 {
  background: #d1df6e !important;
  color: #404040;
}
.severity-1 {
  background: #fadb71 !important;
  color: #404040;
}
.severity-2 {
  background: #efa86b !important;
  color: #404040;
}
.severity-3 {
  background: #e4654a !important;
}
.severity-4 {
  background: #e863ab !important;
  color: #404040;
}
.severity-0 {
  background: #62e00c !important;
  color: #404040;
}
.severity-1 {
  background: #62e00c !important;
  color: #404040;
}
.severity-2 {
  background: #fef30e !important;
  color: #404040;
}
.severity-3 {
  background: #ffb414 !important;
  color: #404040;
}
.severity-4 {
  background: #ff110e !important;
  color: #404040;
}
.left-names {
  background: whitesmoke;
  color: #404040;
  width: 200px;
}
.top-names {
  text-align: center !important;
  background: whitesmoke;
  color: #404040;
  width: 50px;
}
.passages {
  color: gray;
  font-size: 9pt;
  float: right;
}
.info {
  overflow: hidden;
  padding: 10px 0 10px 0;
}
.info-title {
  font-size: 14px;
  color: #404040;
  font-weight: bold;
}
.info-box {
  width: 25%;
  float: left;
}
.info-box select {
  width: 100%;
  margin-top: 5px;
}
.info-box .inner {
  border: solid 1px #dedede;
  background: whitesmoke;
  margin: 0 5px 5px 0;
  padding: 10px;
  color: #404040;
  text-align: justify;
  min-height: 200px;
}
.info-box:hover {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 0 20px #c0c0c0;
}
#tab_thumbnails {
  overflow: hidden;
  margin-top: 15px;
}
#tab_noresults {
  display: none;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
#tab_thumbnails .result_module {
  float: left;
  width: 20%;
  margin-bottom: 10px;
}
#tab_thumbnails .result_module .result_inner {
  margin: 5px;
  border: solid 1px #dedede;
}
#tab_thumbnails .result_module img {
  width: 100%;
  display: block;
}
#tab_thumbnails .result_module .result_plate {
  background: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  color: #404040;
  text-align: center;
  padding: 2px 0 2px 0;
}
#tab_thumbnails .result_module .result_details {
  text-align: center;
  background: whitesmoke;
  padding: 2px 0 2px 0;
  height: 50px;
}
.headertype {
  font-weight: bold;
  font-size: 8pt;
  display: block;
  margin-bottom: 8px;
}
.smallpad {
  padding: 2px 5px 2px 5px !important;
}
.tabStolenDetails {
  border-collapse: collapse;
}
.tabStolenDetails td {
  padding: 4px;
  border: solid 1px #dedede;
}
.whitelist-box {
  text-align: center;
  padding: 8px 20px 8px 20px;
  border: solid 1px #dedede;
  background: whitesmoke;
  float: left;
  margin: 0 5px 5px 0;
  border-radius: 8px;
  font-size: 14px;
}
.whitelist-box:hover {
  background: #dedede;
}

html, body {
height:100%;
}

#Header {
	height:5%;
}

#Container {
	display: table;
	height:95%;
}

#Container > div {
	display: table-cell;
}
	#Container > .LeftCell{
		width:220px;
	}
	#Container > .Splitter {
		width:20px;
	}
	#Container > .Content {
	}
	#Container > .paneOptions {
		width:200px;
	}
