﻿@{
	Layout = "~/Views/Shared/_LayoutEnliteon.cshtml";
}

<h1>
	Titolo 01
</h1>
<div id="chart_1" style="width:100%" class="ChartPie"></div>
<br />
<h1>
	Titolo 02
</h1>
<div style="overflow: scroll; overflow-y: hidden;" id="container_table">
	<div style="margin: 0 15px 15px 0">
		<div id="table_1" style="padding: 0 15px 0 0">
			<table id="table_AM"></table>
		</div>
	</div>
</div>
<div id="chartdiv" style="width: 100%; height: 400px;"></div>


@section HeaderFiles {
<script type="text/javascript">
	//var resizeId;
	//var jsonData;
	//var jsonData2;
	//var chart_width;
	//var chart_google;
	//var options;
	//var chartdata;
	//var category_title = 'Periodo';
	//var number_title = 'N° Persone';

	//$(window).resize(function () {
	//	clearTimeout(resizeId);
	//	resizeId = setTimeout(doneResizing, 250);
	//});

	//function doneResizing() {
	//	//entire width minus 2 left and right columns
	//	fixWidth();
	//	drawChart(false);
	//}

	//function fixWidth() {
	//	chart_width = $(window).width() - 450;
	//	$('#chart_1').css('width', chart_width);
	//	$('#container_table').css('width', chart_width);
	//}

	//$(document).ready(function () {
	//	$.extend($.fn.dataTable.defaults, {
	//		"paging": false,
	//		"searching": false,
	//		"ordering": false,
	//		"info": false,
	//		"bAutoWidth": false,
	//		"columnDefs": [
	//			{ "targets": 0, "className": "firstColumn" }
	//		]
	//	});

	//	//binds events to period type
	//	$('.period').on('ifChecked', (function (event) {
	//		if ($(this).val() == '3') { //se è un range orario
	//			$('#secondRowDate').hide();
	//			$('.fromLabel').html('Data:');

	//			var from = $('.txtFrom').val();
	//			var to = $('.txtTo').val();

	//			var toparsed = moment(to, "DD/MM/YYYY");
	//			var now = moment();
	//			if (toparsed > now) {
	//				to = moment().format("DD/MM/YYYY");
	//			}

	//			$('.txtFrom').val(to);
	//		} else {
	//			$('#secondRowDate').show();
	//			$('.fromLabel').html('Dal:');
	//		}

	//		drawChart(true);
	//	}));

	//	//binds events to chart type
	//	$('.type').on('ifChecked', (function (event) {
	//		drawChart(false);
	//	}));

	//	//binds events to chart type
	//	$('.transittype').on('ifChecked', (function (event) {
	//		drawChart(true);
	//	}));

	//	//binds events to options
	//	$('.option').on('ifChecked', (function (event) {
	//		drawChart(false);
	//	}));

	//	fixWidth();
	//	drawChart(true);
	//});

	//function loadChart() {
	//	drawChart(true);
	//}
	//function drawChart(reload_data) {
	//	var from = $('.txtFrom').val();
	//	var to = $('.txtTo').val();
	//	var gates = loadSelectedGates();
	//	var period = $('input[name=period]:checked').val();
	//	var transittype = $('input[name=transittype]:checked').val();

	//	if (reload_data) {//crea la post request
	//		var request = {
	//			"Period": period,
	//			"From": moment(from, 'DD/MM/YYYY').toJSON(),
	//			"To": moment(to, 'DD/MM/YYYY').toJSON(),
	//			"Gates": gates,
	//			"TransitType": transittype
	//		};

	//		//ottiene le due richieste promise
	//		var req1 = getJsonData('/api/stats/GetStatCounter', '');
	//		var req2 = getJsonDataGet('/api/stats/GetStepCounter', '');

	//		//sincronizza la ricezione di entrambe le richieste e genera la tabella
	//		$.when(req1, req2).done(function (data, gates) {
	//			chartdata = data[0];
	//			drawLineChart(chartdata, '', 'chart_1', "AM", gates[0], category_title, number_title);
	//		}).fail(function (jqXhr, textStatus, errorThrown) {
	//			showDialog(jqXhr.responseJSON.Message, '');
	//		});

	//	} else {
	//		drawLineChart(chartdata, '', 'chart_1', "AM", gates[0], category_title, number_title);
	//	}

	function getJson(url, request) {
		return $.ajax({
			type: "POST",
			url: url,
			dataType: "json",
			contentType: "application/json; charset=utf-8",
			timeout: 30000,
			data: JSON.stringify(request)
		});
	}

	function makeReportRequest() {
		var from = $("#dateFrom").val().split("/");
		var to = $("#dateTo").val().split("/");
		var req = { StepIDs: "1,2", PeriodStart: new Date(parseInt(from[2]), parseInt(from[1])-1, parseInt(from[0]), 0, 0, 0, 0), PeriodEnd: new Date(parseInt(to[2]), parseInt(to[1])-1, parseInt(to[0]), 0, 0, 0, 0) };

		//ottiene le due richieste promise
		var req1 = getJson('/api/stats/GetStatCounter', req);
		var req2 = getJson('/api/stats/GetStepCounter', req);

		//sincronizza la ricezione di entrambe le richieste e genera la tabella
		$.when(req1, req2).done(function (data, gates) {
			CreaReport("chartdiv", data[0], gates[0]);
		}).fail(function (jqXhr, textStatus, errorThrown) {
			showDialog(jqXhr.responseJSON.Message, '');
		});
	}

	function writeData(data) {
		var arrData = [];
		var cPer = "";
		var item = null;

		for (a in data) {
			if (cPer != data[a].Period) {
				if (item != null) {
					arrData.push(item);
				}
				cPer = data[a].Period;
				item = { "category": cPer };
				item[data[a].StepID] = data[a].T;
			} else {
				item[data[a].StepID] = data[a].T;
			}
		}
		if (item != null) {
			arrData.push(item);
		}

		return arrData;
	}

	function writeGates(gates) {
		var arrData = [];

		for (a in gates) {
			arrData.push({ "balloonText": "[[title]] of [[category]]:[[value]]", "fillAlphas": 1, "id": gates[a].StepID, "title": gates[a].StepDescription, "type": "column", "valueField": gates[a].StepID });
		}

		return arrData;
	}

	function CreaReport(divObj, data, gates) {
		AmCharts.makeChart(divObj,
			{
				"type": "serial",
				"categoryField": "category",
				"startDuration": 1,
				"categoryAxis": {
					"gridPosition": "start"
				},
				"trendLines": [],
				"graphs": writeGates(gates),
				"guides": [],
				"valueAxes": [
					{
						"id": "ValueAxis-1",
						"title": "Axis title"
					}
				],
				"allLabels": [],
				"balloon": {},
				"legend": {
					"enabled": true,
					"useGraphSettings": true
				},
				"titles": [
					{
						"id": "Title-1",
						"size": 15,
						"text": "Chart Title"
					}
				],
				"dataProvider": writeData(data)
			}
		);
	}
	$(document).ready(function () {
		$("#dateFrom").datepicker();
		$("#dateTo").datepicker();
		makeReportRequest();
	});
		////determina il tipo di aggregation type
		//var transittype = $('input[name=transittype]:checked').val();

		////crea la post request
		//var request = {
		//	"Period": period,
		//	"From": moment(from, 'DD/MM/YYYY').toJSON(),
		//	"To": moment(to, 'DD/MM/YYYY').toJSON(),
		//	"Gates": gates,
		//	"TransitType": transittype
		//};

		////ottiene le due richieste promise
		//var req1 = getJsonData('/api/stats/GetTableColumns', request);
		//var req2 = getJsonData('/api/stats/GetTableRows', request);

		////sincronizza la ricezione di entrambe le richieste e genera la tabella
		//$.when(req1, req2).done(function (columns, rows) {
		//	$('#table_1').html('');
		//	$('#table_1').html('<table cellpadding="0" cellspacing="0" border="0" class="display" id="example"></table>');
		//	$('#example').dataTable({
		//		"data": rows[0],
		//		"columns": columns[0],
		//		"language": {
		//			"emptyTable": 'No Data'
		//		}
		//	});
		//}).fail(function (jqXhr, textStatus, errorThrown) {
		//	showDialog(jqXhr.responseJSON.ExceptionMessage, '');
		//});



		//var selectedGates = $('.Gates input:checked').length;
		//var columnWidth = 75;

		////if no gates are selected, aggregated chart is requested so create at least 1 Serie
		//if (selectedGates == 0)
		//	selectedGates = 1;

		//var totalWidth = (selectedGates + 1) * columnWidth;
		//$('#table_1').css('width', totalWidth);
	//	return;
	//}
</script>
}

@section RightPanel {
<p class="Menu">
	<ul>
		<li class="first" style="color:white;">
			<span>
				<img src="~/Content/img/group.png" style="position: relative; top: 3px" alt="" />
				Periodo di recupero dati
			</span>
		</li>
	</ul>
	<p class="Options" style="color:white;">
		from: <p><input type="text" id="dateFrom" value="01/01/2018"/></p>
		to:
	</p><input type="text" id="dateTo" value="31/12/2018"/></p>
	<button onclick="javascript: makeReportRequest(); return false;">vai</button>
	<ul>
		<li class="first" style="color:white;">
			<span>
				<img src="~/Content/img/group.png" style="position: relative; top: 3px" alt="" />
				Raggruppa per
			</span>
		</li>
	</ul>
	<div class="Options" style="color:white;">
		<span style="display:block;margin-bottom:2px"><input type="radio" name="period" class="period" value="0" checked="checked" />Mese</span>
		<span style="display:block;margin-bottom:2px"><input type="radio" name="period" class="period" value="1" />Giorno</span>
		<span style="display:block;margin-bottom:2px"><input type="radio" name="period" class="period" value="2" />Ora</span>
		<span style="display:block;margin-bottom:2px"><input type="radio" name="period" class="period" value="3" />Minuto</span>
	</div>
</div>
	<!--
	<ul>
		<li class="first">
			<span>
				<img src="/img/module.png" style="position: relative; top: 3px" alt="" />
				<asp:Literal runat="server" ID="Literal14" Text="<%$Localizations:litPassagesVehicleType %>" />
			</span>
		</li>
	</ul>
	<div class="Options">
		<label style="display:block;margin-bottom:2px"><input type="radio" name="transittype" class="transittype" value="1" checked="checked" /> <asp:Literal runat="server" ID="Literal15" Text="<%$Localizations:litAllVehicles %>" /></label>
		<label style="display:block;margin-bottom:2px"><input type="radio" name="transittype" class="transittype" value="9" /> <asp:Literal runat="server" ID="Literal16" Text="<%$Localizations:litOnlyDangerousGoods %>" /></label>
	</div>
	<ul>
		<li class="first">
			<span>
				<img src="/img/stats.png" style="position: relative; top: 3px" alt="" />
				<asp:Literal runat="server" ID="Literal6" Text="<%$Localizations:litChartType %>" />
			</span>
		</li>
	</ul>
	<div class="Options">
		<label style="display:block;margin-bottom:2px"><input type="radio" name="type" class="type" value="bars" checked="checked" /> <asp:Literal runat="server" ID="Literal7" Text="<%$Localizations:litChartTypeColumn %>" /></label>
		<label style="display:block;margin-bottom:2px"><input type="radio" name="type" class="type" value="line" /> <asp:Literal runat="server" ID="Literal8" Text="<%$Localizations:litChartTypeLine %>" /></label>
		<label style="display:block;margin-bottom:2px"><input type="radio" name="type" class="type" value="area" /> <asp:Literal runat="server" ID="Literal9" Text="<%$Localizations:litChartTypeArea %>" /></label>
		<br />
		<div style="margin-bottom:3px">
			<input type="checkbox" class="option stacked" value="stacked" /> <asp:Literal runat="server" ID="Literal10" Text="<%$Localizations:litChartStacked %>" />
		</div>
		<div style="margin-bottom:3px">
			<input type="checkbox" class="option smoothed" value="smoothed" /> <asp:Literal runat="server" ID="Literal11" Text="<%$Localizations:litChartSmoothed %>" />
		</div>
		<input type="checkbox" class="option dimension" value="dimension" checked="checked" /> 3D
	</div>
</div>
		-->
}
