@body-color: #404040;
@body-background: #ffffff;
@login-background: #ffffff;
//TextBox, TextArea, Dropdown
@textbox-background: #ffffff;
@textbox-border: #ffffff;
@textbox-color: #ffffff;
@textbox-color-less: #ffffff;
@textbox-fontsize: 10pt;

@text-color: #ffffff;
@text-background: #ffffff;

@menu-first-background: #ffffff;
@shadow-color: #ffffff; //ededed

@chart-text-color: #ffffff; //black
@chart-legend-color: #ffffff;

@red: #ffffff;
@gray1: #ffffff; //whitesmoke
@gray2: #ffffff; //#fafafa
@menu-hover-color-text: #ffffff;
@text-shadow: none;

@menu1-background: @menu-first-background;
@menu1-background-image: none;
@menu1-background-repeat: none;

@menu2-background: none;
@menu2-background-image: none;
@menu2-background-repeat: none;

@yellow-highlight: #ffffff;

@links: #ffffff;
@h1: #ffffff;
@menu-border: #ffffff;
@pager: #ffffff;
@menu-selected: #ffffff;
@button-from: #ffffff;
@button-to: #ffffff;
@button-clear: #ffffff;
@button-text: #ffffff;
@textbox-border: #ffffff;

@font: 'Open Sans';
@base-line-height: 24px;
@white: @textbox-color;
@off-white: @textbox-background;
@spin-duration: 1s;
@pulse-duration: 750ms;

@keyframes move-example {
    from {
        left:10px;
    }

    to {
        left:0px;
    }
}

//ADAM
.tab_adam {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;

    .adam-left {
        width: 35%;
        text-align: right;
        border-bottom: solid 1px @textbox-border;
        padding: 8px 5px 8px 0;
    }

    .adam-center {
        text-align: center;
        background: @textbox-background;
        border-bottom: solid 1px @textbox-border;
        font-size: 9pt;
        padding: 8px;
        min-width: 150px;
    }

    .adam-fixed {
        width: 40px;
        text-align: center;
        vertical-align: middle;
        background: @textbox-background;
        border-bottom: solid 1px @textbox-border;
    }

    .adam-right {
        width: 35%;
        border-bottom: solid 1px @textbox-border;
        padding: 8px 0 8px 5px;
    }

    .adam-card {
        display: table-cell;
        padding: 5px 6px 5px 6px;
        margin: 3px;
        background: @textbox-background;
        text-align: center;
        cursor: pointer;
        
        &:hover {
            background: @textbox-border;
        }
    }

    .adam-time {
        font-size: 8pt;
        color: @textbox-color-less;
        display: block;
        margin-top: 5px;
    }
}

    .ticket-pager {
        text-align: center;
        padding: 15px 0 15px 0;

        a {
            background: @text-background;
            border: solid 1px @textbox-border;
            padding: 0 6px 0 6px;
            border-radius: 8px;

            &:hover {
                text-decoration: none;
                background: @links !important;
                color: #404040;
                ;
            }
        }
    }

    .ticket-page {
        font-weight: bold;
    }

    @ticket-width: 350px;

    .ticket-status-1 {
        background: #3d9828;
        color: white;
        padding: 2px 10px 2px 10px;
        border-radius: 5px;
        font-size: 10px;
        text-transform: uppercase;
    }

    .ticket-status-2 {
        background: #C00000;
        color: white;
        padding: 2px 10px 2px 10px;
        border-radius: 5px;
        font-size: 10px;
        text-transform: uppercase;
    }

    .ticket-window {
        width: 660px;
        margin-left: -330px;
        margin-top: -225px;
        left: 50%;
        height: 450px;
        background: @body-background;
        position: absolute;
        z-index: 1002;
        border: solid 2px @textbox-border;
        top: 50%;
        display: none;
    }

    .mask {
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.6;
        z-index: 1001;
        position: absolute;
        display: none;
    }

    .ticket {
        width: @ticket-width;
        height: 110px;
        background: white;
        border-left: solid 5px red;
        position: absolute;
        right: -300px;
        opacity: 0;
        overflow: hidden;
        z-index: 1000;
        box-shadow: 0 0 35px #404040;

        .pane-left {
            width: 133px;
            float: left;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .pane-right {
            width: 217px;
            float: right;
            overflow: hidden;

            input {
                float: right
            }

            .ticket-plate {
                font-weight: bold;
                letter-spacing: 0.5px;
                font-size: 16px;
                display: block;
                margin-bottom: 3px;
                border-bottom: solid 1px #dedede;
                padding-bottom: 3px
            }

            .inner {
                padding: 8px;
                color: black
            }
        }
    }


    .wall-modules {
        overflow: hidden
    }

    .wall-header {
        padding: 6px 8px 6px 8px;
        overflow: hidden;
        background: @body-background;
    }

    .wall-header a {
        float: right
    }

    .wall-module {
        width: 250px;
        border: solid 1px @textbox-border;
        float: left
    }

    .wall-picture {
        width: 100%;
        height: 185px;
        background: #303030;
    }

    .wall-picture img {
        width: 100%;
        display: block;
        transition: all .3s ease-in-out;
    }

    .wall-info {
        padding: 5px 10px 5px 10px
    }

    .wall-plate {
        font-size: 13pt;
        font-weight: bold;
        letter-spacing: 1px;
        display: block;
        text-align: center
    }

    .wall-time {
        font-size: 8pt;
        text-align: center;
        display: block
    }

    .wall-gate {
        font-size: 9pt;
        font-weight: bold
    }

    .txtDate {
        text-align: center;
        width: 120px;
        margin: 0 10px 0 10px
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes pulse {
        50% {
            background: @white;
        }
    }

    .loader-new {
        margin: 0 auto;
        margin-top: 25px;
        border-radius: 50%;
        width: @base-line-height;
        height: @base-line-height;
        border: .25rem solid @off-white;
        border-top-color: @white;
        animation: spin @spin-duration infinite linear;
    }


    @keyframes smallBoxAnim {
        0% {
            transform: scale(0.2);
        }

        100% {
            transform: scale(0.75);
        }
    }

    @keyframes loaderAnim {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(90deg);
        }
    }

    .statusbar {
        padding: 5px;
        overflow: hidden;
        background: @login-background;
        font-size: 9pt;
        text-align: center;

        select {
            font-size: 9pt !important;
            padding: 0 !important;
            float: left;
            border: none !important;
        }
    }

    .statusbar-box {
        margin-right: 0px;
        overflow: hidden;
        display: inline-block;
    }

    .statusbar-box-text {
        display: block;
        float: left;
        padding: 5px 10px 5px 10px;
        font-weight: bold;
    }

    .statusbar-box-value {
        display: block;
        float: left;
        padding: 5px 10px 5px 0px;
        border-left: none;

        img {
            width: 14px;
            position: relative;
            top: 2px;
        }
    }


    .body-login {
        //background: #303030
        background: @textbox-background;
    }

    .loginnew-box {
        width: 500px;
        height: 400px;
        position: absolute;
        //border: solid 1px #202020;
        border: solid 1px darken(@body-background,5%);
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: @text-background;
    }

    .loginnew-logo {
        text-align: center;
        padding: 20px;
        padding-bottom: 10px;
    }

    .loginnew-bar {
        padding: 10px;
        overflow: hidden;
        background: @login-background;
        font-size: 10pt;
    }

    .loginnew-textboxes {
        width: 400px;
        font-size: 10pt;
        margin: 0 auto;
        margin-top: 30px;
    }

    .loginnew-table {
        width: 100%;

        tr {
            td {
                padding: 4px 0 4px 0;
            }

            td:nth-child(1) {
                width: 30%;
            }

            td:nth-child(2) {
                width: 60%;
            }

            td:nth-child(3) {
                width: 10%;
                text-align: center;
            }
        }
    }

    .loginnew-input {
        padding: 4px !important;
        font-size: 10pt !important;
        box-sizing: border-box;
        width: 100% !important;
    }

    .loginnew-select {
        padding: 4px !important;
        font-size: 10pt !important;
        width: 100% !important;
    }

    .loginnew-button {
        padding: 5px 20px 5px 20px !important;
        font-size: 12pt !important;
        margin-top: 10px !important;
        text-transform: uppercase !important;
    }

    .loginnew-left {
        width: 50%;
        float: left;
        text-align: left;
        text-transform: uppercase;
    }

    .loginnew-right {
        width: 50%;
        float: right;
        text-align: right
    }

    .loginnew-validators {
        padding: 15px 0 15px;

        img {
            position: relative;
            top: 3px
        }
    }


    input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px @textbox-background inset !important;
        -webkit-text-fill-color: @textbox-color !important
    }


    .icheckbox_square-grey {
        margin-right: 8px !important
    }

    .iradio_square-grey {
        margin-right: 8px !important
    }


    .table-master {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin: 0 auto;
        margin-top: 15px;

        tr td {
            background: none;
            border-bottom: solid 1px @textbox-border;
            color: @textbox-color;
            padding: 6px 5px 6px 5px;
        }

        .col-plate {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            width: 80px;

            .span-trailer {
                display: block;
                margin-top: 3px;
                color: Gray;
                font-size: 9px;
                font-weight: normal
            }
        }

        .col-imgplate {
            width: 110px;
            text-align: center;

            img {
                width: 80px;
                height: 30px;
            }
        }

        .col-province {
            width: 30px;
            text-align: center;
            font-size: 13px;
            font-weight: bold;
        }


        .col-country {
            text-align: center;
            padding: 0 10px 0 10px;
            font-size: 13px;
            font-weight: bold;
            width: 30px;
        }

        .col-type {
            text-align: center;
            width: 100px;

            img {
                height: 16px
            }
        }

        .col-gate {
            font-size: 14px;
            font-weight: bold;
            padding: 0 10px 0 10px;
        }

        .col-adr {
            width: 180px;
            padding: 0 10px 0 10px;
        }


        .col-date {
            width: 140px;
            padding: 0 10px 0 10px;
            text-align: center;

            .span-date {
                font-size: 14px;
                font-weight: bold;
                margin-right: 5px
            }

            .span-time {
            }
        }


        .col-ocr {
            width: 30px;
            padding: 0 10px 0 10px;
            text-align: center;
            font-size: 13px;
            font-weight: bold;
        }

        .col-speed {
            width: 30px;
            padding: 0 10px 0 10px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;

            div {
                margin: 0 auto;
                padding: 2px 0 2px 0;
                border-radius: 25px;
                width: 24px;
                color: black;
                background: white;
            }
        }


        .col-foto {
            text-align: center;
            width: 30px;
        }




        .col-adrlogo {
            width: 40px;
            padding: 0 10px 0 10px;
            text-align: center;

            img {
                width: 80%
            }
        }

        .col-adrlogo .col_ocr {
            width: 30px;
            padding: 0 10px 0 10px;
            text-align: center;
            font-size: 13px;
            font-weight: bold;
        }
    }

    .master-image-preview {
        width: 320px;
        height: 240px;
        display: none;
        box-shadow: 0 0 85px gray;
        z-index: 999;
        position: absolute;
        border: solid 1px #c0c0c0;

        img {
            width: 320px;
            height: 240px
        }
    }

    .table-intersections {
        width: 100%;

        tr th {
            text-align: center
        }

        tr td {
            text-align: center;
            padding: 3px 0 3px 0;
            border-bottom: solid 1px @textbox-border;
        }

        tr th:nth-child(1) {
            width: 90px;
        }

        tr th:nth-child(2) {
            width: 60px;
        }

        tr td:nth-child(1) {
            width: 90px;
        }

        tr td:nth-child(2) {
            width: 60px;
            font-size: 12pt;
            font-weight: bold;
        }
    }

    .columns3 {
        overflow: hidden;
        margin-bottom: 10px;

        & > div:nth-child(1) {
            width: 26%;
            float: left;
            text-align: justify;
            padding-right: 0.4%;
            margin-right: 0.4%;
            border-right: solid 1px @textbox-border;
        }

        & > div:nth-child(2) {
            width: 26%;
            float: left;
            text-align: justify;
            padding-right: 0.4%;
            margin-right: 0.4%;
            border-right: solid 1px @textbox-border;
        }

        & > div:nth-child(3) {
            width: 46%;
            float: left;
            text-align: justify;
        }
    }

    .datebar {
        overflow: hidden;
        margin-bottom: 7px;
        background: @textbox-background;
        cursor: pointer;
        border: solid 1px transparent;

        &:hover {
            border: solid 1px @textbox-border;
        }

        .datebar-content-left {
            text-align: center;
            padding: 5px;
            float: left;
            font-weight: bold;
            font-size: 10pt;
            padding-left: 10px;
            padding-right: 10px;
            background: @textbox-border;
        }

        .datebar-content-right {
            text-align: center;
            padding: 5px;
            float: right;
            font-weight: bold;
            font-size: 10pt;
            padding-left: 10px;
            padding-right: 10px;
            background: @textbox-border;
        }

        .datebar-arrow-right {
            float: right;
            width: 30px;
            display: block;
            background: #00b050;
            text-align: center;
            font-size: 15pt;
            font-weight: bold;
        }

        .datebar-arrow-left {
            float: left;
            width: 30px;
            display: block;
            background: #e32400;
            text-align: center;
            font-size: 15pt;
            font-weight: bold;
        }
    }

    .more-padding {
        padding: 5px
    }

    .more-more-padding {
        padding: 10px
    }

    .image-details {
        overflow: hidden
    }

    .image-ctx {
        /*width: 50%;
    float: left;*/
        border-radius: 5px;


        .image-inner {
            margin: 10px;
            text-align: center;
        }

        img {
            width: 100%;
            /*box-shadow: 0 0 5px #888;*/
        }
    }

    .image-ir {
        /*width: 50%;
    float: left;*/
        border-radius: 5px;

        .image-inner {
            margin: 10px;
            text-align: center;
        }

        img {
            width: 100%;
            /*box-shadow: 0 0 5px #888;*/
        }
    }

    .liveUpdatePulse {
        display: block;
        border-radius: 8px;
        width: 10px;
        height: 10px;
        float: left;
        margin-right: 10px;
        position: relative;
        top: 4px;
        border: solid 2px transparent;
    }

    .green {
        background: #00b050;
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;
    }

    .red {
        background: red;
    }

    @keyframes pulsate {
        0% {
            -webkit-transform: scale(0.1, 0.1);
            opacity: 0.0;
        }

        50% {
            opacity: 1.0;
        }

        100% {
            -webkit-transform: scale(1.1, 1.1);
            opacity: 0.0;
        }
    }




    .newrowadded {
        animation-name: example;
        animation-duration: 1s;
        animation-timing-function: ease-in;
    }

    @keyframes example {
        from {
            background-color: @text-color;
            color: @text-background;
        }

        to {
            background-color: none;
            color: @text-color;
        }
    }

    .big1 {
        font-size: 22pt;
        font-weight: bold
    }

    .big2 {
        font-size: 11pt
    }

    .passages-boxes {
        overflow: hidden;
        text-align: center;

        .passages-box {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 20px;
            overflow: hidden;

            .passages-header {
                background: @textbox-background;
                color: @textbox-color;
                font-weight: bold;
                font-size: 11pt;
                padding: 8px 13px 8px 13px;
                border: solid 1px @textbox-border;
                border-bottom: none;
                text-align: center;
            }

            .passages-content {
                line-height: 20px;
                padding: 8px 13px 8px 13px;
                height: 30px;
                text-align: center;
                border: solid 1px @textbox-border;
            }
        }
    }


    .status-bar {
        font-size: 15px;
        overflow: hidden;

        div {
            float: left;
            padding: 0 10px 0 10px;
            /*border-right: solid 1px @textbox-color;*/
            &:last-child {
                border: none
            }
        }

        .errormessage {
            font-weight: bold;
            color: red
        }

        .duration {
            font-weight: bold
        }

        .count {
            font-weight: bold
        }
    }



    .server-legend-square {
        margin-right: 10px;
        margin-bottom: 5px;
        padding-left: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-left: solid 10px;
    }


    .condensed tr td {
        border: 0;
        padding: 2px 0 2px 0
    }

    .export-box {
        margin-bottom: 10px;

        .export-box-header {
            background: @textbox-background;
            padding: 5px;
            font-size: 11pt;
        }

        .export-box-content {
            a {
                display: block;
                padding: 10px 20px 10px 20px;
                font-size: 12pt;

                &.selected {
                    background: @links;
                    color: @textbox-background;
                    text-decoration: none;
                }

                &:hover {
                    background: @links;
                    color: @textbox-background;
                    text-decoration: none;
                }
            }
        }

        .export-box-option {
            float: left;
        }

        border: solid 1px @textbox-border;
        overflow: hidden;
    }

    #curdate {
        color: @text-color;
        font-size: 24px;
        font-weight: bold;
    }

    #curtime {
        color: @text-color;
        font-size: 24px;
        font-weight: bold;
        position: relative;
        left: 20px;
    }

    .dataTable {
        border-bottom: solid 1px @textbox-border !important;
    }

    .dataTable tr th {
        background: @textbox-background !important;
    }

    .dataTable tr td {
        background: lighten(@textbox-background,5%) !important;
        border-top: solid 1px @textbox-border !important;
    }

    .chart-text-color {
        color: @chart-text-color;
    }

    .chart-legend-color {
        color: @chart-legend-color;
    }

    .correlate-bar {
        position: relative;
        top: 2px;
        height: 20px;
        background: @links;
    }


    .separator {
        border-right: solid 1px @textbox-border;
    }

    .loginArea {
        padding: 10px 0 10px 10px;
        background: none;
    }

    .adr-code {
        font-weight: bold;
        display: block;
        font-size: 8pt;
        margin-bottom: 2px;
    }

    .adr-description {
        font-size: 9px;
    }

    .boxAlert {
        padding: 10px;
        background: @textbox-background;
        border: solid 1px @textbox-border;
        margin-bottom: 10px;
    }

    .ui-state-default {
        border: 1px solid @textbox-border;
        background: @textbox-background;
        font-weight: normal;
        color: @textbox-color;

        &:hover {
            background: @textbox-border;
            color: @textbox-color;
        }
    }

    .ui-state-active {
        border: 1px solid @textbox-border;
        background: #c0c0c0;
        font-weight: normal;
        color: #404040;
    }

    .ui-datepicker {
        background: @body-background !important;
    }

    .ui-widget-content {
        background: @body-background !important;
    }

    table tr th {
        background: @textbox-background;
        color: @body-color;
        padding: 5px;
        height: 20px;
        border-bottom: solid 2px @textbox-border;
        border-top: solid 2px @textbox-border;
    }

    .mytable {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .mytable tr td {
        padding: 5px;
        border-bottom: solid 1px @textbox-border;
    }

    .link-server {
        padding: 3px 10px 3px 10px;
        display: block;
        cursor: pointer;

        &:hover {
            background: @textbox-border;
        }

        &.selected {
            background: @textbox-border;
        }
    }
    /*.mytable tr:nth-child(odd) td {
    background: @textbox-background;
}*/
    .passages-template {
        width: 100%;
        border-collapse: collapse;

        tr.selected {
            td {
                background: @textbox-border;
            }
        }
    }

    .parameters-col-1 {
        background: @gray1 !important;
        padding: 5px !important;
    }

    .parameters-col-2 {
        background: @gray2 !important;
        padding: 5px !important;
    }

    .parameters-col-3 {
        background: none !important;
    }

    .plate {
        color: white;
        font-size: 16px;
        font-weight: bold;
    }

    .camStatusGreen {
        background: #c0ffc0 !important;
        font-weight: bold;
        color: darken(#c0ffc0,55%) !important;
    }

    .camStatusYellow {
        background: #ffffc0 !important;
        font-weight: bold;
        color: darken(#ffffc0,65%) !important;
    }

    .camStatusRed {
        background: #ffc0c0 !important;
        font-weight: bold;
        color: darken(#ffc0c0,55%) !important;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: @font;
        font-size: 9pt;
        background: @body-background;
        color: @body-color;
    }


    p {
        line-height: 20px;
        padding: 0;
        padding-left: 10px;
        margin: 0;
        margin: 15px 0 15px 0;
        border-left: solid 4px @menu-border;

        .highlight {
            color: orangered;
            font-weight: bold;
        }
    }
    /********************************************/
    /**************** Motorizzazione ************/
    .vpnAlert {
        border: solid 1px @textbox-border;
        background: @textbox-background;
        padding: 8px;
        margin-bottom: 15px;
    }

    .vpnImageBox {
        text-align: center;
        max-width: 500px;
        box-shadow: 0 0 15px #888;
        position: relative;
        margin: 0 auto;
        margin-bottom: 15px;

        .result_image {
            width: 100%;
            background: @textbox-border;
            display: block;
        }

        .vpnPlateBox {
            text-align: center;
            position: absolute;
            bottom: 0;
            height: 50px;
            width: 100%;
            padding-bottom: 20px;
        }

        .result_plate {
            font-size: 50px;
            font-weight: bold;
            color: @textbox-color;
            text-shadow: 0 0 15px @shadow-color;
        }
    }

    .insurance-legend {
        overflow: hidden;

        > div {
            float: left;
            width: 31.3%;
            margin-left: 1%;
            margin-right: 1%;
            margin-bottom: 15px;
            height: 240px;
            border: solid 1px @textbox-border;
            box-sizing: border-box;

            h4 {
                text-align: center;
                margin: 0;
                padding: 0;
                font-size: 12pt;
                padding: 5px 0 5px 0;
                background: @textbox-background;
                display: block;
                margin-bottom: 5px
            }

            div {
                padding: 5px 10px 5px 10px
            }
        }
    }

    .insurance-statusbar {
        position: fixed;
        bottom: 0;
        background: @textbox-background;
        width: 100%;
        padding: 5px;
        z-index: 100;
    }

    .insuranceBar {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 15px;


        td {
            //padding: 5px;
            vertical-align: top;
            padding: 0;
            background: @textbox-background;

            .insuranceHeader {
                /*background: #404040;*/
                display: block;
                padding: 2px 0 2px 0;
                color:@textbox-color;
                font-weight:bold;
                font-size: 10px;
            }
        }


        .number {
            font-size: 20pt;
            color: @textbox-color;
            text-shadow: 1px 1px @shadow-color;
            font-weight: bold;
        }


        td:nth-child(1) {
            font-size: 12px;
            text-align: center;
            width: 20%;
        }

        td:nth-child(2) {
            font-size: 12px;
            text-align: center;
            width: 40%;
        }

        td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
            width: 10%;
            font-size: 12px;
            text-align: center;
            /*background: #f2c8c9; insurance red*/
            img {
                margin-top: 10px;
                width: 24px;
                padding-top: 2px;
                /*display:none;*/
            }
        }


        td:nth-child(3) {
            width: 9%;
            font-size: 12px;
            text-align: center;
        }

        td:nth-child(4) {
            width: 9%;
            font-size: 12px;
            text-align: center;
        }

        td:nth-child(5) {
            width: 9%;
            font-size: 12px;
            text-align: center;
        }
    }

    #tab_rows {
        border-collapse: collapse;
        border-spacing: 0px;
        width: 100%;
        display: none;
        margin: 0 auto;
        margin-top: 15px;
    }

    .col100 {
        width: 110px;
        text-align: center !important;
    }

    td.col4 {
        font-size: 8px;
        color: gray;
    }

    .formatAlert {
        color: @red;
        font-weight: bold;
    }

    .formatNormal {
        /*color: #404040;*/
        font-weight: normal;
    }


    #tab_rows tr td {
        padding: 5px 0 5px 0;
    }

    .tabdetails {
        width: 100%;
    }

    .tabdetails tr td {
        padding: 1px 0 1px 0 !important;
        vertical-align: top;
    }


    .col_plate {
        font-size: 16px;
        font-weight: bold;
        color: #606060;
        text-align: center;
        width: 100px;
    }

    .ChartPie {
        height: 500px;
        width: 100%;
        border: solid 1px @textbox-border;
        background: @textbox-background;
        box-shadow: 0px 0px 20px @shadow-color;
        margin-bottom: 10px;
    }

    .my-buttonset {
        margin: 0;
        padding: 0;
        list-style-image: none;

        img {
            position: relative;
            top: 2px
        }

        li {
            margin: 0;
            padding: 0;
            list-style-type: none;
            padding: 2px 10px 2px 10px;
            display: inline-block;
            cursor: pointer;
            border: solid 1px transparent;

            &:hover {
                background: @menu-selected;
            }

            &.selected {
                background: @menu-selected;
            }
        }
    }

    .chart-common {
        height: 500px;
        width: 100%;
    }

    .myTableCluster {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;

        tr {
            th {
                text-align: Center
            }

            td {
                text-align: Center
            }


            td:nth-child(1) {
                font-weight: bold;
            }
        }


        tr:nth-child(even) {
            td {
                background: @textbox-border !important;
            }
        }
    }

    .chart-page {
        h1 {
            font-size: 20pt !important;
            text-align: center;
            margin-bottom: 10px
        }

        .chart-area {
            overflow: hidden;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: solid 1px @textbox-border;

            .inner {
                padding: 10px
            }

            table {
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;

                tr {
                    th {
                        text-align: Center
                    }

                    td {
                        text-align: Center
                    }
                }
            }

            .chart-description {
                font-size: 10pt;
                text-align: center;
                line-height: 20px;
                padding: 15px 0 15px 0;
                margin: 15px 0 15px 0;
                border-top: solid 1px @textbox-border;
                height: 50px;
            }



            .chart-left {
                float: left;
                width: 50%;


                #chart1 {
                    border-right: solid 1px @textbox-border;
                }
            }

            .chart-right {
                float: left;
                width: 50%;
            }
        }
    }

    a img {
        border: 0;
    }

    a {
        font-family: @font;
        ;
        color: @links;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    h1 {
        font-family: @font;
        font-size: 14pt;
        margin: 0;
        padding: 0;
        color: @h1;
        margin-bottom: 5px;
    }

    .sorting_disabled {
        width: 50px !important;
    }

    h2 {
        font-family: @font;
        font-size: 13pt;
        margin: 0;
        padding: 0;
        color: @textbox-color;
        margin-bottom: 10px;
    }

    h3 {
        padding: 0;
        margin: 0;
        border-bottom: solid 2px#505050;
        padding: 0 0 5px 0;
        margin-bottom: 5px;
    }

    .HeaderRow {
        width: 140px;
        /*padding-left: 10px;*/
    }

    .loader-progress {
        top: 5px;
        position: relative;
        width: 12px;
        height: 12px;
        margin: 0;
        margin-left: 15px;
        display: none;
    }

    .loader-icon {
        position: relative;
        top: 2px;
        margin-right: 10px;
        display: none;
    }

    input[type=text] {
        font-family: @font;
        border: solid 1px @textbox-border;
        font-size: @textbox-fontsize;
        color: @textbox-color;
        padding: 2px 4px 2px 4px;
        /*width:90%;*/
        background: @textbox-background;
    }

    textarea {
        font-family: @font;
        border: solid 1px @textbox-border;
        font-size: @textbox-fontsize;
        color: @textbox-color;
        padding: 2px;
        /*width:90%;*/
        background: @textbox-background;
    }

    input[type=password] {
        font-family: @font;
        border: solid 1px @textbox-border;
        font-size: @textbox-fontsize;
        color: @textbox-color;
        padding: 2px;
        /*width:90%;*/
        background: @textbox-background;
    }

    input[type=submit], input[type=button] {
        /*background:#ededed;
    font-family: @font;
    border:solid 1px #c0c0c0;
    font-size:10pt;
    color:#404040;
     
    padding:5px 20px 5px 20px;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
    margin-top:15px;*/
        -moz-box-shadow: inset 0px 1px 0px 0px @button-clear;
        -webkit-box-shadow: inset 0px 1px 0px 0px @button-clear;
        box-shadow: inset 0px 1px 0px 0px @button-clear;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, @button-to), color-stop(1, @button-from));
        background: -moz-linear-gradient(top, @button-to 5%, @button-from 100%);
        background: -webkit-linear-gradient(top, @button-to 5%, @button-from 100%);
        background: -o-linear-gradient(top, @button-to 5%, @button-from 100%);
        background: -ms-linear-gradient(top, @button-to 5%, @button-from 100%);
        background: linear-gradient(to bottom, @button-to 5%, @button-from 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@button-to, endColorstr=@button-from,GradientType=0);
        background-color: @button-to;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid @button-from;
        display: inline-block;
        cursor: pointer;
        color: @button-text;
        font-family: arial;
        font-size: 15px;
        font-weight: bold;
        padding: 6px 24px;
        text-decoration: none;
        //text-shadow: 0px 1px 0px @button-to;
        font-family: @font;
        font-size: 12px;
        margin: 5px 0 0 0;
    }

    input[type=submit]:hover, input[type=button]:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, @button-from), color-stop(1, @button-to));
        background: -moz-linear-gradient(top, @button-from 5%, @button-to 100%);
        background: -webkit-linear-gradient(top, @button-from 5%, @button-to 100%);
        background: -o-linear-gradient(top, @button-from 5%, @button-to 100%);
        background: -ms-linear-gradient(top, @button-from 5%, @button-to 100%);
        background: linear-gradient(to bottom, @button-from 5%, @button-to 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@button-from, endColorstr=@button-to,GradientType=0);
        background-color: @button-from;
    }


    .ServiceButton {
        margin: 0 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        padding: 2px 10px 2px 10px !important;
        font-size: 10px !important;
        border: solid 1px #c0c0c0 !important;
        border-radius: 0px !important;
        color: #404040 !important;
        background: whitesmoke !important;
        text-transform: uppercase;
    }

    .StartButton {

        &:hover {
            background: #63be7b !important;
            color: white !important;
            border: solid 1px #63be7b !important;
        }
    }

    .StopButton {

        &:hover {
            background: #f47879 !important;
            color: white !important;
            border: solid 1px #f47879 !important;
        }
    }



    .ResetButton {
        margin: 0 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        padding: 2px 10px 2px 10px !important;
        font-size: 10px !important;
        border: solid 1px #c0c0c0 !important;
        border-radius: 0px !important;
        color: white !important;
        background: @red !important;
        text-transform: uppercase;

        &:hover {
            background: @red !important;
            color: white !important;
            border: solid 1px @red !important;
        }
    }

    .LeftMenu input[type=submit] {
        width: 100%;
    }

    .Splitter {
        width: 6px;
        background: @textbox-border;
        cursor: col-resize;
    }
    /*input[type=submit]:hover
{
    background:#dedede;
    
}*/
    select {
        font-family: @font;
        border: solid 1px @textbox-border;
        font-size: @textbox-fontsize;
        color: @textbox-color;
        background: @textbox-background;
        padding: 2px;
    }

    input[type=text]:hover {
        border: solid 1px @textbox-border;
        box-shadow: 0 0 5px #888;
    }





    #Header {
        /*background-image:url('/img/logo.png');background-repeat:no-repeat;*/
        height: 46px;
        border-bottom: solid 1px @textbox-border;
        overflow: hidden;
    }

    #Header .left {
        width: 50%;
        float: left;
    }

    #Header .left img {
        margin: 4px 0 0 10px;
    }

    #Header .right {
        width: 50%;
        float: right;
        text-align: right;
    }

    #Header .right img {
        margin: 4px 10px 0 0;
    }

    #Container {
    }

    .Menu {
        width: 220px; /*un po’ di meno per evitare l’ uso del padding*/
        /*border-right:solid 1px #c0c0c0;*/
    }
    /*#Content {
    color: #404040;
}*/
    #Content .Inner {
        padding: 12px;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style-image: none;
        width: 220px;
    }

    nav ul li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }



    nav ul li.first span {
        color: @textbox-color;
        font-size: 10pt;
        display: block;
        background: @menu1-background;
        background-image: @menu1-background-image;
        background-repeat: @menu1-background-repeat;
        border-left: solid 4px @menu-border;
        border-bottom: solid 1px @textbox-border;
        padding: 10px;
        font-weight: bold;
        overflow: hidden;
        text-shadow: @text-shadow;
    }

    nav ul li.first span img:first-child {
        position: relative;
        top: 2px;
        margin-right: 5px;
    }

    nav ul li.first span .toggle {
        float: right;
        cursor: pointer;
        position: relative;
        top: 4px;
        display: none;
    }


    nav ul li.first a img {
        position: relative;
        top: 2px;
    }

    nav ul li a:hover {
        /*  background-image:url('/img/backmenu_hover.png');
                  border-left:solid 4px #d31f9a;*/
    }

    nav ul li.second a {
        color: @textbox-color;
        display: block;
        background: @menu2-background;
        background-image: @menu2-background-image;
        background-repeat: @menu2-background-repeat;
        border-left: solid 4px gray;
        border-bottom: solid 1px @textbox-border;
        padding: 5px 10px 5px 24px;
        text-shadow: @text-shadow;
    }

    nav ul li.second a:hover {
        /* background-image:url('/img/backmenu_hover.png');*/
        background: @menu-selected;
        border-left: solid 4px @menu-border;
        padding-left: 30px;
        transition: 0.15s padding ease-out;
        color: @menu-hover-color-text;
        text-decoration: none;
    }

    nav ul li.selected a {
        /* background-image:url('/img/backmenu_hover.png');*/
        background: @menu-selected;
        border-left: solid 4px @menu-border;
    }

    .row {


        td {
            background: none;
            border-bottom: solid 1px @textbox-border;
            color: @textbox-color;
            padding: 4px 4px 4px 4px;
        }
    }

    .row_condensed {


        td {
            background: none;
            border-bottom: solid 1px @textbox-border;
            color: @textbox-color;
            padding: 5px;
        }
    }

    .row_details {
        border-bottom: solid 1px @textbox-border;
    }

    .row:hover td {
        background: @menu-selected !important;
    }

    .row2 {


        td {
            background: @textbox-background;
            border-bottom: solid 1px @textbox-border;
            color: @textbox-color;
            padding: 6px 5px 6px 5px;
        }
    }

    .rowborder {
        border-bottom: solid 1px #dedede;
    }

    .row2:hover td {
        background: @menu-selected !important;
        ;
    }

    .Selected {
        background: @menu-selected;
        border-bottom: solid 1px #dedede;
    }

    .Pager td {
        padding: 5px 0 5px;
    }

    .Pager td a {
        display: block;
        background: @menu-selected;
        color: white;
        padding: 3px 7px 3px 7px;
        border-radius: 20px;
        margin-right: 5px;
        text-decoration: none;
        color: #404040;
    }

    .Pager td a:hover {
        background: @pager;
        color: white;
    }

    .Pager td span {
        display: block;
        background: @pager;
        color: white;
        padding: 5px 9px 5px 9px;
        border-radius: 15px;
        margin-right: 5px;
        text-decoration: none;
        color: white;
    }

    .smallgray {
        padding: 0;
        margin: 0;
        padding: 5px 0 5px 0;
        color: @textbox-color-less;
        font-size: 8pt !important;
    }

    .p-parameter {
        padding: 0;
        margin: 0;
        border: 0;
        padding: 5px 10px 5px 10px;
        text-align: justify;
        color: @textbox-color-less;
        font-size: 8pt !important;
    }

    .PageItem {
        border: solid 1px @textbox-border;
        padding: 5px 8px 5px 8px;
        margin-bottom: 5px;
        background: @textbox-background;
        background-repeat: repeat-x;
        border-left: solid 4px gray;
        margin-left: 20px;

        &:hover {
            background: @menu-selected !important;
            box-shadow: 0 0 20px @shadow-color;
            border-left: solid 4px @menu-border;
            padding-left: 16px;
            transition: 0.3s;
        }
    }

    .PageName {
        font-size: 10pt;
        font-weight: bold;
    }

    .PageItem a {
        float: right;
    }

    .Options {
        padding: 10px 0 10px 5px;
        background: none;
        border-left: solid 1px @textbox-border;
        border-bottom: solid 1px @textbox-border;
        color: @body-color;
    }

    .google-visualization-table-th {
        font-size: 8pt;
    }

    .google-visualization-table-td {
        font-size: 8pt;
    }

    .ui-sortable-placeholder {
        background: red;
    }

    .column {
        width: 250px;
        float: left;
        margin: 0 5px 0 0;
        height: 1080px;
    }


    .column .module {
        border: solid 1px #dedede;
        margin-bottom: 10px;
        background: white;
        border-bottom: solid 1px #c0c0c0;
        border-right: solid 1px #c0c0c0;
        border-bottom: solid 1px #dedede;
        border-right: solid 1px #dedede;
        box-shadow: 2px 2px 18px #c0c0c0;
    }

    .column .module table th {
        background: whitesmoke;
        text-align: left;
    }

    .column .module table td {
        text-align: center;
    }


    .column .module .head {
        background: whitesmoke;
        padding: 6px;
        font-weight: bold;
        overflow: hidden;
    }

    .column .module .head .left {
        float: left;
    }

    .column .module .head .right {
        float: right;
    }

    .column .module .head .right img {
        margin-left: 5px;
    }

    .column .module .head .right img:hover {
        cursor: pointer;
        opacity: 0.5;
    }



    .column .module .head img {
        position: relative;
        top: 2px;
        width: 12px;
        height: 12px;
    }

    .column .module .body {
        line-height: 18px;
        padding: 6px;
    }

    .AlertBox {
        display: none;
    }

    .AlertBox img {
        position: relative;
        top: 2px;
    }

    .AlertOk {
        padding: 6px 10px 6px 10px;
        border-left: solid 5px #00c000;
        border-top: solid 1px #404040;
        border-bottom: solid 1px #404040;
        border-right: solid 1px #404040;
        background: white;
        width: 500px;
    }

    .AlertError {
        padding: 6px 10px 6px 10px;
        border-left: solid 5px #c00000;
        border-top: solid 1px #404040;
        border-bottom: solid 1px #404040;
        border-right: solid 1px #404040;
        background: white;
        width: 500px;
    }



    .AlertBar {
        display: none;
        z-index: 1000;
        position: fixed;
        top: 60px;
        opacity: 0;
        right: -250px;
        border-radius: 4px;
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px#888;
        box-shadow: 0 0 5px #888;

        .inner {
            padding: 10px;

            img {
                position: relative;
                top: 2px;
            }
        }
    }

    .BarOk {
        /*border: solid 1px #00c000;
    background: #c0ffc0;
    color: black;*/
        border-left: solid 7px #00c000;
        border-top: solid 1px #404040;
        border-bottom: solid 1px #404040;
        border-right: solid 1px #404040;
        background: white;
        color: black;
        padding: 3px 10px 3px 10px;
        margin-bottom: 5px;
    }

    .BarError {
        /*border: solid 1px #c00000;
    background: #ffc0c0;
    color: black;*/
        border-left: solid 7px #c00000;
        border-top: solid 1px #404040;
        border-bottom: solid 1px #404040;
        border-right: solid 1px #404040;
        background: white;
        color: black;
        padding: 3px 10px 3px 10px;
        margin-bottom: 5px;
    }



    .Buttons {
        overflow: hidden;
        margin-bottom: 10px;
    }

    .Buttons a {
        display: block;
        padding: 5px 10px 5px 10px;
        background: whitesmoke;
        margin-right: 5px;
        border-radius: 15px;
        float: left;
    }

    .Buttons a:hover {
        background: #dedede;
    }

    .Row td {
        border-bottom: solid 1px #dedede;
    }

    .Row2 td {
        background: whitesmoke;
        border-bottom: solid 1px #dedede;
    }

    .HeaderRow th {
        background: #404040;
        color: white;
    }




    .HeaderRow2 th {
        background: #ededed;
        color: #404040;
        padding: 5px 0 5px 0;
        text-align: lefT;
    }

    .tableData tr td {
        font-size: 8pt;
    }

    .tableGates {
        border-collapse: collapse;
        border-spacing: 0;
        width: 99%;
    }

    .tableGates th {
        padding: 3px;
        text-align: left;
        border-bottom: solid 2px @textbox-border;
        background: @textbox-background !important;
    }

    .tableGates tr:nth-child(odd) td {
        padding: 1px 3px 1px 3px;
        border-bottom: solid 1px @textbox-border;
        background: @textbox-background;
    }

    .tableGates tr:nth-child(even) td {
        padding: 1px 3px 1px 3px;
        border-bottom: solid 1px @textbox-border;
    }
    /*.tableTattile{border-collapse: collapse; border-spacing: 0}
.tableTattile th{padding:3px;background:#ededed;text-align:left;border-bottom:solid 2px #cecece;text-align:left;padding:3px 6px 3px 6px}
.tableTattile tr:nth-child(odd) td{padding:3px 6px 3px 6px;border-bottom:solid 1px #ededed;background:#ffffff}
.tableTattile tr:nth-child(even) td{padding:3px 6px 3px 6px;border-bottom:solid 1px #ededed;background:whitesmoke}*/
    .Padding0 {
        padding: 0 !important;
    }

    .Padding5 {
        padding: 6px 20px 6px 6px;
    }

    .plateDetail {
        width: 100%;
    }

    .plateDetail tr td {
        padding: 5px 0 5px 0;
    }

    .morepadding td {
        padding: 4px;
    }

    .languages {
        text-align: center;
        border-bottom: solid 1px #dedede;
        width: 220px;
    }

    .languages a img {
        width: 20px;
        margin: 0 8px 0 8px;
        opacity: 0.85;
    }

    .languages a img:hover {
        opacity: 1.0;
    }

    .seconds {
        font-size: 20pt;
        color: #404040;
        font-weight: bold;
    }

    #dialog-message {
        display: none;
    }

    .ui-widget-overlay {
        background: black;
        opacity: .7;
        filter: Alpha(Opacity=70);
    }

    p {
        font-size: 9pt;
    }


    .ParameterBox {
        img {
            position: relative;
            top: 2px;
        }

        .description {
            margin: 0;
            padding: 5px 0 5px 10px;
            color: gray;
            font-size: 8pt !important;
            text-align: justify;
        }

        i {
            font-size: 8pt;
        }
    }

    .query-legend {
        width: 100%;
        border-collapse: collapse;

        tr th {
            text-align: left;
        }

        tr td {
            vertical-align: top;

            a {
                color: @links !important;
            }

            b {
                background: @yellow-highlight;
                color: black;
            }

            h3 {
                display: inline;
            }
        }
    }


    .help {
        width: 200px;
        background: @pager;
        text-align: center;
        position: fixed;
        left: 10px;
        bottom: 30px;
        display: none;
        border-radius: 8px;
    }

    .help a {
        padding: 5px 0 5px 0;
        display: block;
        font-size: 14px;
        color: white;
    }
    /*html{color:#404040;font-family:'Segoe UI';font-size:10pt}
        h1{color:#404040;margin:0;padding:0;margin-bottom:10px;padding:5px;background:Whitesmoke;border-bottom:solid 1px #dedede}
        td{text-align:right;padding:6px;vertical-align:middle}*/
    /*.severity-0{background:#c6d84c}
        .severity-1{background:#f8d14a}
        .severity-2{background:#eb9346}
        .severity-3{background:#df4726}
        .severity-4{background:#e33f98}*/
    .heatmap-table tr td {
        text-align: center;
        padding: 15px 5px 15px 5px;
        vertical-align: middle;
    }



    .severity-0 {
        background: lighten(#c6d84c,8%) !important;
        color: #404040;
    }

    .severity-1 {
        background: lighten(#f8d14a,8%) !important;
        color: #404040;
    }

    .severity-2 {
        background: lighten(#eb9346,8%) !important;
        color: #404040;
    }

    .severity-3 {
        background: lighten(#df4726,8%) !important;
    }

    .severity-4 {
        background: lighten(#e33f98,8%) !important;
        color: #404040;
    }

    .severity-0 {
        background: lighten(#60DB0C,1%) !important;
        color: #404040;
    }

    .severity-1 {
        background: lighten(#60DB0C,1%) !important;
        color: #404040;
    }

    .severity-2 {
        background: lighten(#FEF309,1%) !important;
        color: #404040;
    }

    .severity-3 {
        background: lighten(#FFB20F,1%) !important;
        color: #404040;
    }

    .severity-4 {
        background: lighten(#FF0C09,1%) !important;
        color: #404040;
    }

    .left-names {
        background: @textbox-background;
        color: @textbox-color;
        width: 200px;
    }

    .top-names {
        text-align: center !important;
        background: @textbox-background;
        color: @textbox-color;
        width: 50px;
    }

    .passages {
        color: gray;
        font-size: 9pt;
        float: right;
    }

    .info {
        overflow: hidden;
        padding: 10px 0 10px 0;
    }

    .info-title {
        font-size: 14px;
        color: @textbox-color;
        font-weight: bold;
    }

    .info-box {
        width: 25%;
        float: left;

        select {
            width: 100%;
            margin-top: 5px;
        }

        .inner {
            border: solid 1px @textbox-border;
            background: @textbox-background;
            margin: 0 5px 5px 0;
            padding: 10px;
            color: @textbox-color;
            text-align: justify;
            min-height: 200px;
        }

        &:hover {
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            box-shadow: 0 0 20px @shadow-color;
        }
    }


    #tab_thumbnails {
        overflow: hidden;
        margin-top: 15px;
    }

    #tab_noresults {
        display: none;
        padding-top: 10px;
        text-align: center;
        font-weight: bold;
        font-size: 25px
    }

    #tab_thumbnails .result_module {
        float: left;
        //width: 200px;
        width: 20%;
        margin-bottom: 10px;
        //margin: 5px;
        //border: solid 1px @textbox-border;
    }

    #tab_thumbnails .result_module .result_inner {
        margin: 5px;
        border: solid 1px @textbox-border;
    }

    #tab_thumbnails .result_module img {
        width: 100%;
        display: block;
    }

    #tab_thumbnails .result_module .result_plate {
        background: @textbox-background;
        font-size: 16px;
        font-weight: bold;
        color: @textbox-color;
        text-align: center;
        padding: 2px 0 2px 0;
    }

    #tab_thumbnails .result_module .result_details {
        text-align: center;
        background: @textbox-background;
        padding: 2px 0 2px 0;
        height: 50px;
    }

    .headertype {
        font-weight: bold;
        font-size: 8pt;
        display: block;
        margin-bottom: 8px;
    }

    .smallpad {
        padding: 2px 5px 2px 5px !important;
    }

    .tabStolenDetails {
        border-collapse: collapse;
    }

    .tabStolenDetails td {
        padding: 4px;
        border: solid 1px @textbox-border;
    }

    .whitelist-box {
        text-align: center;
        padding: 8px 20px 8px 20px;
        border: solid 1px @textbox-border;
        background: @textbox-background;
        float: left;
        margin: 0 5px 5px 0;
        border-radius: 8px;
        font-size: 14px;

        &:hover {
            background: @menu-selected;
        }
    }
