@body-color: #dedede;
@body-background: #404040;
@login-background: #252525;
//TextBox, TextArea, Dropdown
@textbox-background: #303030;
@textbox-border: #505050;
@textbox-color: #dedede;
@textbox-color-less: #b0b0b0;
@textbox-fontsize: 10pt;

@text-color: #dedede;
@text-background: #404040;

@menu-first-background: #303030;
@shadow-color: #606060; //ededed

@chart-text-color: #dedede; //black
@chart-legend-color: #dedede;

@red: #e33f43;
@gray1: #252525; //whitesmoke
@gray2: #303030; //#fafafa
@menu-hover-color-text: white;
@text-shadow: none;

@menu1-background: @menu-first-background;
@menu1-background-image: none;
@menu1-background-repeat: none;

@menu2-background: none;
@menu2-background-image: none;
@menu2-background-repeat: none;

@yellow-highlight: #ebd457;
