@body-color: #404040;
@body-background: white;
@login-background: #dedede;

//TextBox, TextArea, Dropdown
@textbox-background: whitesmoke;
@textbox-border: #dedede;
@textbox-color: #404040;
@textbox-color-less: #404040;
@textbox-fontsize: 10pt;

@text-color: #404040;
@text-background: #ffffff;

@menu-first-background:#eaeaea;
@shadow-color:#c0c0c0; //ededed

@chart-text-color:#404040;//black
@chart-legend-color:#404040;
 
@red:#e33f43;
@gray1:WhiteSmoke;
@gray2:#FAFAFA;
@menu-hover-color-text:black;
@text-shadow:1px 1px white;

@menu1-background:none;
@menu1-background-image:url('/img/backmenu_first.png');
@menu1-background-repeat:repeat-x;

@menu2-background:none;
@menu2-background-image:url('/img/backmenu.png');
@menu2-background-repeat:repeat-x;

@yellow-highlight:yellow;

