﻿@import "../../less/Common.less";
@import "../../less/Light.less";
@links: #f1a411;
@h1: #f1a411;
@menu-border: #f4c00e;
@pager:;
@menu-selected: #dedede;
@button-from: #ffab23;
@button-to: #ffec64;
@button-clear: #fff6af;
@button-text: #FFFFFF;
