﻿@import "../../less/Common.less";
@import "../../less/Light.less";
@links: #2f4d74;
@h1: #2f4d74;
@menu-border: #2f4d74;
@pager: #2f4d74;
@menu-selected: #dedede;
@button-from: #2f4d74;
@button-to: #4b7ab7;
@button-clear: #d0ddec;
@button-text: #FFFFFF;
