﻿@import "../../less/Common.less";
@import "../../less/Dark.less";

@links: #EBD457;
@h1: #dedede;
@menu-border: #d31f9a;
@pager: #d31f9a;
@menu-selected: #606060;
@button-from: lighten(#ffab23,10%);
@button-to: lighten(#ffec64,5%);
@button-clear: #fff6af;
@button-text: #404040;



