﻿@import "../../less/Common.less";
@import "../../less/Light.less";
@links: #ee932e;
@h1: #ee932e;
@menu-border: #ee932e;
@pager: #ee932e;
@menu-selected: #dedede;
@button-from:#ffab23;
@button-to: #ffec64;
@button-clear: #fff6af;
@button-text: #000;
 