﻿<!DOCTYPE html>
<html>
<head lang="it">
	<link rel="icon" href="http://localhost:7002/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title</title>
	<!-- Icona Sito -->
	<link href="~/Content/img/LPR.ico" type="image/png" rel="icon" />
	<!-- CSS -->
	<link href="~/Content/fonts.css" rel="stylesheet" />
	<link href="~/Content/jquery-ui.css" rel="stylesheet" />
	<link href="~/Content/main.css?v=1" rel="stylesheet" />
	<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
	<link href="~/Content/leaflet.css" rel="stylesheet" />
	<link href="~/Content/skins/square/grey.css" rel="stylesheet" />

	<!-- jQuery & jQuery UI -->
	<script type="text/javascript" src="~/scripts/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="~/scripts/jquery-ui-1.11.4.min.js"></script>
	<script type="text/javascript" src="~/scripts/jquery.ui.datepicker-it-IT.js"></script>
	<script type="text/javascript" src="~/scripts/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="~/scripts/jquery.dataTables.min.js"></script>
	<!-- Javacscript common code -->
	<script type="text/javascript" src="~/scripts/LPR.Common.js"></script>
	<!-- amCharts API -->
	<script src="~/scripts/amcharts/amcharts.js" type="text/javascript"></script>
	<script src="~/scripts/amcharts/pie.js" type="text/javascript"></script>
	<script src="~/scripts/amcharts/serial.js" type="text/javascript"></script>
	<script src="~/scripts/amcharts/themes/light.js" type="text/javascript"></script>
	<script src="~/scripts/amcharts/themes/black.js" type="text/javascript"></script>
	<!-- Javascript charts common code -->
	<script src="~/scripts/LPR.charts_common.js" type="text/javascript"></script>
	<script src="~/scripts/LPR.charts_pie.js" type="text/javascript"></script>
	<script src="~/scripts/LPR.charts_line.js" type="text/javascript"></script>
	<script src="~/scripts/LPR.charts_bar.js" type="text/javascript"></script>

	<script src="~/scripts/icheck/icheck.min.js"></script>@{
		if (IsSectionDefined("HeaderFiles")) {
			@RenderSection("HeaderFiles")
		}
	}
	<script type="text/javascript">
			$(document).ready(function () {
				if ($('.Options input').length > 0) {
					$('.Options input').iCheck({
						checkboxClass: 'icheckbox_square-grey',
						radioClass: 'iradio_square-grey',
						increaseArea: '20%' // optional
					});

					$('.Options input[type=checkbox]').on('ifToggled', function (event) {
						load();
					});
				}
			});

			function load() {
				if (typeof loadChart == 'function') {
					loadChart();
				}
			}
	</script>

</head>
<body>
	<div>
		<header id="Header">
			<div class="left">
				<a href="/"><img src="~/Content/img/logo.png" title="Enliteon" alt="Enliteon" /></a>
			</div>
			<div class="right"><a href="http://www.infoproget.it" title="Infoproget" target="_blank"><img src="~/Content/img/partner.png" title="Infoproget" alt="Infoproget" /></a></div>
		</header>
		<div class="chart-text-color chart-legend-color" style="display:none"></div>
		<div id="Container">
			<div class="LeftCell LeftMenu">
				@{Html.RenderPartial("~/Views/Shared/_LeftMenu.cshtml"); }
			</div>
			<div class="Splitter" onclick="javascript:closeMenu()">
				&nbsp;
			</div>
			<div id="Content">
				<div class="Inner">
					@RenderBody()
				</div>
			</div>
			<div class="paneOptions">@{
				if (IsSectionDefined("RightPanel")) {
					@RenderSection("RightPanel")
				}
			}</div>
		</div>
	</div>
</body>
</html>
