﻿@{
	//Recupero delle voci di menù da database
}
<div class="MenuVert">
	<nav>
		<ul class="first menuPane_1" data-index="1">
			<li class="first">
				<span><img alt="" src="~/Content/img/stats.png"> Statistiche<img class="toggle" style="display: inline;" alt="" src="~/Content/img/menu_up.gif" data-index="1"></span>
			</li>
			<li class="second">
				<a href="/statistics/conteggio/">Conteggio Persone</a>
			</li>
			<li class="second">
				<a href="/statistics/polygon/">Informazione Poligono</a>
			</li>
			<li class="second">
				<a href="/statistics/trackid/">Tempi di attesa</a>
			</li>
		</ul>
		<ul class="first menuPane_2" data-index="2">
			<li class="first">
				<span><img alt="" src="~/Content/img/gear.png"> Pannello di controllo<img class="toggle" style="display: inline;" alt="" src="~/Content/img/menu_up.gif" data-index="2"></span>
			</li>
			<li class="second">
				<a href="/system/camera/">Videocamere</a>
			</li>
			<li class="second">
				<a href="/system/parameters/">Impostazioni</a>
			</li>
		</ul>
	</nav>
	<ul>
		<li class="first">
			<span>
				<img src="~/Content/img/key.png" alt="" /> Username Utente
			</span>
		</li>
		<li class="second">
			<a href="/system/logout/">Esci</a>
		</li>
	</ul>
</div>
