﻿@import "../../less/Common.less";
@import "../../less/Light.less";
@links: #e2080c;
@h1: #e2080c;
@menu-border: #e2080c;
@pager: #e2080c;
@menu-selected: #dedede;
@button-from: #e2080c;
@button-to: #f83c40;
@button-clear: #fdc9ca;
@button-text: #FFFFFF;
 